@use "sass:map";

@use "utils";
@use "palette";
@use "shape";
@use "spacing";
@use "margin";
@use "transition";
@use "elevation";
@use "interaction";
@use "typography";
@use "z-index";

@use "css-reset";

@use "popover";
@use "text-container";

@use "app-bar";
@use "app-bar-title";
@use "divider";
@use "icon";
@use "material-symbol";
@use "box";
@use "checkbox";
@use "link";
@use "button";
@use "icon-button";
@use "dialog";
@use "dialog-actions";
@use "dialog-content";
@use "dialog-header";
@use "sheet";
@use "sheet-header";
@use "tooltip";

@mixin configure(
  $output: null,
  $short-var-names: null,
  $var-prefix: null,
  $selector-prefix: null,
  $palette: null,
  $css-reset: null,
  $shape: null,
  $spacing: null,
  $margin: null,
  $z-index: null,
  $interaction: null,
  $elevation: null,
  $transition: null,
  $typography: null,
  $text-container: null,
  $app-bar: null,
  $app-bar-title: null,
  $divider: null,
  $popover: null,
  $icon: null,
  $material-symbol: null,
  $link: null,
  $box: null,
  $button: null,
  $icon-button: null,
  $checkbox: null,
  $dialog: null,
  $dialog-actions: null,
  $dialog-header: null,
  $dialog-content: null,
  $sheet: null,
  $sheet-header: null,
  $tooltip: null
) {
  @include utils.configure-setup(
    $output: $output,
    $short-var-names: $short-var-names
  );

  @include palette.configure-global($palette);
  @include css-reset.configure($css-reset);

  @include shape.configure-global($shape);
  @include spacing.configure-global($spacing);
  @include margin.configure($margin);
  @include z-index.configure-global($z-index);
  @include transition.configure-global($transition);
  @include elevation.configure-global($elevation);
  @include interaction.configure-global($interaction);
  @include popover.configure-global($popover);
  @include divider.configure-global($divider);

  @include typography.configure-global($typography);
  @include app-bar.configure-global($app-bar);
  @include app-bar-title.configure-global($app-bar-title);
  @include text-container.configure-global($text-container);
  @include link.configure-global($link);
  @include icon.configure-global($icon);
  @include material-symbol.configure-global($material-symbol);
  @include box.configure-global($box);
  @include button.configure-global($button);
  @include icon-button.configure-global($icon-button);
  @include checkbox.configure-global($checkbox);
  @include dialog.configure-global($dialog);
  @include dialog-actions.configure-global($dialog-actions);
  @include dialog-content.configure-global($dialog-content);
  @include dialog-header.configure-global($dialog-header);
  @include sheet.configure-global($sheet);
  @include sheet-header.configure-global($sheet-header);
  @include tooltip.configure-global($tooltip);
}
