@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "../utils";

$-configure-tokens: (
  color-scheme,
  light-theme,
  dark-theme,
  default-system-theme
);

/// This defines the total color scheme for your app and can be either:
/// - `light-dark` - (default) supports both the light and dark themes in the
///   app using the
///   [light-dark() function](https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/light-dark).
///   Override the system preference globally or a section of the app by
///   setting `color-scheme: light` or `color-scheme: dark`.
/// - `system` - to default to the light theme and switch to the dark theme
///   with the `@media (prefers-color-scheme: dark)` media query
/// - `light` - if only the light theme should be used preventing any dark
///   theme variables from being set
/// - `dark` - if only the dark theme should be used preventing any light
///   theme variables from being set
///
/// @type {light-dark | light | dark | system}
$-color-scheme: light-dark;
$-default-system-theme: true;

$-current-tokens-registered: false;
$-light-tokens-registered: false;
$-dark-tokens-registered: false;
$-light-theme-tokens: (
  primary: #6750a4,
  primary-container: #eaddff,
  on-primary: #fff,
  on-primary-container: #21005e,
  inverse-primary: #d0bcff,
  secondary: #625b71,
  secondary-container: #e8def8,
  on-secondary: #fff,
  on-secondary-container: #1e192b,
  tertiary: #7d5260,
  tertiary-container: #ffd8e4,
  on-tertiary: #fff,
  on-tertiary-container: #370b1e,
  surface: #fef7ff,
  surface-dim: #ded8e1,
  surface-bright: #fef7ff,
  surface-container-lowest: #fff,
  surface-container-low: #f7f2fa,
  surface-container: #f3edf7,
  surface-container-high: #ece6f0,
  surface-container-highest: #e6e0e9,
  surface-variant: #e7e0ec,
  on-surface: #1c1b1f,
  on-surface-variant: #49454e,
  inverse-surface: #313033,
  on-inverse-surface: #f4eff4,
  background: #fef7ff,
  on-background: #1c1b1f,
  error: #b3261e,
  error-container: #f9dedc,
  on-error: #fff,
  on-error-container: #410e0b,
  outline: #79747e,
  outline-variant: #c4c7c5,
  shadow: #000,
  surface-tint: #6750a4,
  scrim: #000,
);
$-dark-theme-tokens: (
  primary: #d0bcff,
  primary-container: #4f378b,
  on-primary: #371e73,
  on-primary-container: #eaddff,
  inverse-primary: #6750a4,
  secondary: #ccc2dc,
  secondary-container: #4a4458,
  on-secondary: #332d41,
  on-secondary-container: #e8def8,
  tertiary: #efb8c8,
  tertiary-container: #633b48,
  on-tertiary: #492532,
  on-tertiary-container: #ffd8e4,
  surface: #141218,
  surface-dim: #141218,
  surface-bright: #3b383e,
  surface-container-lowest: #0f0d13,
  surface-container-low: #1d1b20,
  surface-container: #211f26,
  surface-container-high: #2b2930,
  surface-container-highest: #36343b,
  surface-variant: #49454f,
  on-surface: #e6e1e5,
  on-surface-variant: #cac4d0,
  inverse-surface: #e6e1e5,
  on-inverse-surface: #313033,
  background: #141218,
  on-background: #e6e1e5,
  error: #f2b8b5,
  error-container: #8c1d18,
  on-error: #601410,
  on-error-container: #f9dedc,
  outline: #938f99,
  outline-variant: #444746,
  shadow: #000,
  surface-tint: #d0bcff,
  scrim: #000,
);
$-tokens: (
  current: $-light-theme-tokens,
  light: $-light-theme-tokens,
  dark: $-dark-theme-tokens,
);
$-token-names: map.keys($-light-theme-tokens);

@function get-light-dark-tokens() {
  $tokens: ();
  @each $token in $-token-names {
    $value: light-dark(
      utils.get-var("light.#{$token}"),
      utils.get-var("dark.#{$token}")
    );
    $tokens: map.merge($tokens, (#{$token}: $value));
  }

  @return $tokens;
}

@mixin configure(
  $color-scheme: null,
  $light-theme: null,
  $dark-theme: null,
  $default-system-theme: null
) {
  @if $color-scheme {
    $-color-scheme: utils.validate(
      (light, dark, light-dark, system),
      $color-scheme,
      "color-scheme"
    ) !global;
  }

  @if $default-system-theme != null {
    $-default-system-theme: $default-system-theme !global;
  }

  $-light-theme-tokens: map.merge(
    $-light-theme-tokens,
    utils.get-config-map(light-theme, $light-theme, $-token-names)
  );
  $-dark-theme-tokens: map.merge(
    $-dark-theme-tokens,
    utils.get-config-map(dark-theme, $dark-theme, $-token-names)
  );

  $is-light-dark: $color-scheme == light-dark;
  @if $-color-scheme == light {
    $-tokens: (
      current: $-light-theme-tokens,
    ) !global;
  } @else if $-color-scheme == dark {
    $-tokens: (
      current: $-dark-theme-tokens,
    ) !global;
  } @else {
    @if not $-light-tokens-registered {
      $-light-tokens-registered: true !global;
      @include utils.register-tokens(
        $tokens: $-light-theme-tokens,
        $prefix: "light",
        $skip-fallback-values: true
      );
    }

    @if not $-dark-tokens-registered {
      $-dark-tokens-registered: true !global;
      @include utils.register-tokens(
        $tokens: $-dark-theme-tokens,
        $prefix: "dark",
        $skip-fallback-values: true
      );
    }

    // prettier-ignore
    $tokens: if(
      sass($is-light-dark): get-light-dark-tokens();
      else: $-light-theme-tokens
    );

    @if not $-current-tokens-registered {
      $-current-tokens-registered: true !global;

      @include utils.register-tokens(
        $tokens: $tokens,
        $prefix: "palette",
        $skip-fallback-values: not $is-light-dark
      );
    }

    $-tokens: map.deep-merge(
      $-tokens,
      (
        light: $-light-theme-tokens,
        dark: $-dark-theme-tokens,
        current: $tokens,
      )
    ) !global;
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(palette, $overrides, $-configure-tokens);
  @include configure(
    $color-scheme: map.get($overrides, color-scheme),
    $light-theme: map.get($overrides, light-theme),
    $dark-theme: map.get($overrides, dark-theme),
    $default-system-theme: map.get($overrides, dark-theme)
  );
}

@mixin use-light-theme($register-tokens: false) {
  @include utils.set-default-tokens(
    $tokens: $-light-theme-tokens,
    $register-tokens: $register-tokens,
    $skip-fallback-values: true
  );
}

@mixin use-dark-theme($register-tokens: false) {
  @include utils.set-default-tokens(
    $tokens: $-dark-theme-tokens,
    $register-tokens: $register-tokens,
    $skip-fallback-values: true
  );
}

@mixin use-light-dark-theme {
  @each $token, $value in get-light-dark-tokens() {
    @include utils.set-var($token, $value);
  }
}

@mixin use-system-theme {
  @media (prefers-color-scheme: dark) {
    :root {
      @include use-dark-theme;
    }
  }
}

@mixin variables($set-color-scheme: false) {
  $is-light-dark: $-color-scheme == light-dark;
  @if $set-color-scheme {
    $color-scheme: light;
    @if $-color-scheme == dark {
      $color-scheme: dark;
    } @else if $is-light-dark {
      $color-scheme: light dark;
    }

    color-scheme: $color-scheme;
  }

  @if map.get($-tokens, light) and map.get($-tokens, dark) {
    @if $is-light-dark and not $-current-tokens-registered {
      $-current-tokens-registered: true !global;

      @include utils.register-tokens(
        $tokens: map.get($-tokens, "current"),
        $prefix: "palette"
      );
    }

    @include utils.set-default-tokens(
      $tokens: map.remove($-tokens, "current"),
      $register-tokens: false,
      $skip-fallback-values: true
    );
  }

  @if not $-current-tokens-registered {
    $-current-tokens-registered: true !global;

    @include utils.register-tokens(
      $tokens: map.get($-tokens, "current"),
      $prefix: "palette"
    );
  }

  @if not $is-light-dark {
    @include utils.set-default-tokens(
      $tokens: map.get($-tokens, "current"),
      $skip-fallback-values: true
    );
  }
}

@function -get-styles($is-css) {
  $ignored: (outline, outline-variant, shadow, surface-tint, scrim);
  $no-text-color: (
    inverse-primary,
    surface-dim,
    surface-bright,
    surface-container-lowest,
    surface-container-low,
    surface-container,
    surface-container-high,
    surface-container-highest
  );

  $styles: ();
  @each $name in $-token-names {
    @if not list.index($ignored, $name) {
      $is-on-color: string.index($name, "on-") == 1;
      $is-no-color: list.index($no-text-color, $name);

      $selector: "&#{$name}";
      $inner-styles: null;
      @if not $is-css {
        $selector: ":host([";
        @if $is-on-color {
          $selector: $selector + "color=#{$name}";
        } @else {
          $selector: $selector + "bg=#{$name}";
        }

        $selector: $selector + "])";
      }

      @if $is-on-color {
        $inner-styles: (
          color: "palette.#{$name}",
        );
      } @else {
        $inner-styles: (
          background: "palette.#{$name}",
        );

        @if not $is-no-color {
          $inner-styles: map.set($inner-styles, "color", "palette.on-#{$name}");
        }
      }

      $styles: map.deep-merge(
        $styles,
        (
          $selector: $inner-styles,
        )
      );

      @if not
        $is-no-color and not
        $is-on-color and not
        string.index($name, "container-")
      {
        // prettier-ignore
        $selector: if(
          sass($is-css): "&text-#{$name}";
          else: ":host([color=#{$name}])"
        );
        $inner-styles: (
          $selector: (
              color: "palette.#{$name}",
            ),
        );
        $styles: map.deep-merge($styles, $inner-styles);
      }
    }
  }
  // &current-color {
  //   color: currentcolor;
  // }
  //
  // @if $-color-scheme == light-dark or $-color-scheme == system {
  //   &palette-light {
  //     @include use-light-theme;
  //   }
  //
  //   &palette-dark {
  //     @include use-dark-theme;
  //   }
  // }

  @return $styles;
}

@mixin css-styles {
  $ignored: (outline, outline-variant, shadow, surface-tint, scrim);
  $no-text-color: (
    inverse-primary,
    surface-dim,
    surface-bright,
    surface-container-lowest,
    surface-container-low,
    surface-container,
    surface-container-high,
    surface-container-highest
  );

  @each $name in $-token-names {
    @if not list.index($ignored, $name) {
      $is-on-color: string.index($name, "on-") == 1;
      $is-no-color: list.index($no-text-color, $name);

      &#{$name} {
        @if $is-on-color {
          @include utils.use-var(color, $name);
        } @else {
          @include utils.use-var(background, $name);

          @if not $is-no-color {
            @include utils.use-var(color, "on-#{$name}");
          }
        }
      }

      @if not
        $is-no-color and not
        $is-on-color and not
        string.index($name, "container-")
      {
        &text-#{$name} {
          @include utils.use-var(color, $name);
        }
      }
    }
  }

  &current-color {
    color: currentcolor;
  }

  @if $-color-scheme == light-dark or $-color-scheme == system {
    &palette-light {
      @include use-light-theme;
    }

    &palette-dark {
      @include use-dark-theme;
    }
  }
}

@mixin host-styles {
  @include utils.map-to-styles(-get-styles(false));
}

@mixin styles {
  @include utils.css-styles {
    @include css-styles;

    @if $-default-system-theme and $-color-scheme == system {
      @include use-system-theme;
    }
  }

  @include utils.host-styles {
    @include host-styles;
  }
}
