@use "./index" as *;
@use "../utils";

$styles: (
  ":host": (
    background: utils.get-var("palette.background"),
    color: utils.get-var("palette.on-background"),
    color-scheme: utils.get-var("palette.color-scheme"),
    display: block,
  ),
);

@include utils.map-to-styles($styles);
