@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  duration: (
    extra-long-1: 700ms,
    extra-long-2: 800ms,
    extra-long-3: 900ms,
    extra-long-4: 1000ms,
    long-1: 450ms,
    long-2: 500ms,
    long-3: 550ms,
    long-4: 600ms,
    medium-1: 250ms,
    medium-2: 300ms,
    medium-3: 350ms,
    medium-4: 400ms,
    short-1: 50ms,
    short-2: 100ms,
    short-3: 150ms,
    short-4: 200ms,
  ),
  easing: (
    emphasized: cubic-bezier(0.2, 0, 0, 1),
    emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15),
    emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1),
    linear: cubic-bezier(0, 0, 1, 1),
    standard: cubic-bezier(0.2, 0, 0, 1),
    standard-accelerate: cubic-bezier(0.3, 0, 1, 1),
    standard-decelerate: cubic-bezier(0, 0, 0, 1),
  ),
);
$-configure-tokens: utils.list-concat(
  map.keys(map.get($-tokens, duration)),
  map.keys(map.get($-tokens, easing))
);

@mixin -update($value, $group, $name) {
  @if $value {
    $-tokens: map.set($-tokens, $group, $name, $value) !global;
  }
}

@mixin configure(
  $extra-long-1: null,
  $extra-long-2: null,
  $extra-long-3: null,
  $extra-long-4: null,
  $long-1: null,
  $long-2: null,
  $long-3: null,
  $long-4: null,
  $medium-1: null,
  $medium-2: null,
  $medium-3: null,
  $medium-4: null,
  $short-1: null,
  $short-2: null,
  $short-3: null,
  $short-4: null,
  $emphasized: null,
  $emphasized-accelerate: null,
  $emphasized-decelerate: null,
  $linear: null,
  $standard: null,
  $standard-accelerate: null,
  $standard-decelerate: null
) {
  @include -update($extra-long-1, duration, extra-long-1);
  @include -update($extra-long-2, duration, extra-long-2);
  @include -update($extra-long-3, duration, extra-long-3);
  @include -update($extra-long-4, duration, extra-long-4);
  @include -update($long-1, duration, long-1);
  @include -update($long-2, duration, long-2);
  @include -update($long-3, duration, long-3);
  @include -update($long-4, duration, long-4);
  @include -update($medium-1, duration, medium-1);
  @include -update($medium-2, duration, medium-2);
  @include -update($medium-3, duration, medium-3);
  @include -update($medium-4, duration, medium-4);
  @include -update($short-1, duration, short-1);
  @include -update($short-2, duration, short-2);
  @include -update($short-3, duration, short-3);
  @include -update($short-4, duration, short-4);

  @include -update($emphasized, easing, emphasized);
  @include -update($emphasized-accelerate, easing, emphasized-accelerate);
  @include -update($emphasized-decelerate, easing, emphasized-decelerate);
  @include -update($linear, easing, linear);
  @include -update($standard, easing, standard);
  @include -update($standard-accelerate, easing, standard-accelerate);
  @include -update($standard-decelerate, easing, standard-decelerate);

  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "transition");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(transition, $overrides, $-configure-tokens);

  @include configure(
    $extra-long-1: map.get($overrides, extra-long-1),
    $extra-long-2: map.get($overrides, extra-long-2),
    $extra-long-3: map.get($overrides, extra-long-3),
    $extra-long-4: map.get($overrides, extra-long-4),
    $long-1: map.get($overrides, long-1),
    $long-2: map.get($overrides, long-2),
    $long-3: map.get($overrides, long-3),
    $long-4: map.get($overrides, long-4),
    $medium-1: map.get($overrides, medium-1),
    $medium-2: map.get($overrides, medium-2),
    $medium-3: map.get($overrides, medium-3),
    $medium-4: map.get($overrides, medium-4),
    $short-1: map.get($overrides, short-1),
    $short-2: map.get($overrides, short-2),
    $short-3: map.get($overrides, short-3),
    $short-4: map.get($overrides, short-4),
    $emphasized: map.get($overrides, emphasized),
    $emphasized-accelerate: map.get($overrides, emphasized-accelerate),
    $emphasized-decelerate: map.get($overrides, emphasized-decelerate),
    $linear: map.get($overrides, linear),
    $standard: map.get($overrides, standard),
    $standard-accelerate: map.get($overrides, standard-accelerate),
    $standard-decelerate: map.get($overrides, standard-decelerate)
  );
}

@mixin variables {
  $register-tokens: not $-tokens-registered;
  @if $register-tokens {
    $-tokens-registered: true !global;
  }

  @include utils.set-default-tokens(
    $tokens: $-tokens,
    $register-tokens: $register-tokens
  );
}
