@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  aspect-ratio: null,
  height: auto,
  object-fit: contain,
  max-height: null,
  max-width: null,
  width: auto,
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: utils.remap-tokens(object-fit, $-tokens);
$-base-styles: (
  display: inline-grid,
  height: "object-fit.height",
  max-height: 'min(100%, "object-fit.max-height")',
  max-width: 'min(100%, "object-fit.max-width")',
  overflow: hidden,
  width: "object-fit.width",
);
$-object-fit-styles: (
  object-fit: "object.fit",
  height: 100%,
  width: 100%,
);
$-full-width-styles: (
  "object-fit.height": 100%,
  "object-fit.width": 100%,
  display: grid,
);
$-contain-styles: (
  "object.fit": contain,
);
$-cover-styles: (
  "object.fit": cover,
);
$-fill-styles: (
  "object.fit": fill,
);
$-scale-down-styles: (
  "object.fit": scale-down,
);
$-none-styles: (
  "object.fit": none,
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "object-fit");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(object-fit, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&object-fit": $-base-styles,
    "&object-fit--full-width": $-full-width-styles,
    "&object-fit--contain": $-contain-styles,
    "&object-fit--cover": $-cover-styles,
    "&object-fit--fill": $-fill-styles,
    "&object-fit--scale-down": $-scale-down-styles,
    "&object-fit--none": $-none-styles,
  );

  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ":host(:not([inline]))": $-full-width-styles,
    ":host([variant=contain])": $-contain-styles,
    ":host([variant=cover])": $-cover-styles,
    ":host([variant=fill])": $-fill-styles,
    ":host([variant=scale-down])": $-scale-down-styles,
    ":host([variant=none])": $-none-styles,
    "::slotted(:is(img, video, picture, canvas))": $-object-fit-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
