@use "sass:map";
@use "@react-md/core";

$disable-everything: false !default;
$disable-code-block: false !default;
$disable-wrappable: false !default;
$disable-app-bar: false !default;

$var-prefix: "--code-block-" !default;

/// The available configurable css variables and mostly used internally for the
/// `get-var`, `set-var`, and `use-var` utils.
/// @type List
$variables: (
  margin,
  padding,
  pre-margin,
  pre-padding,
  max-height,
  tablet-max-height
);

/// @param {String} name - The supported variable name
/// @param {any} fallback [null] - An optional fallback value
/// @returns {String} a `var()` statement
@function get-var($name, $fallback: null) {
  $var: $var-prefix + core.validate($variables, $name, "code-block var");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

/// @param {String} name - The supported variable name
/// @param {any} value - The value to set the variable to. Supports `null` which
/// will just be a no-op.
@mixin set-var($name, $value) {
  @if $value {
    #{$var-prefix + core.validate($variables, $name, "code-block var")}: #{$value};
  }
}

/// @param {String} property - The css property to apply the variable to
/// @param {String} name [$property] - The supported variable name
/// @param {any} fallback [null] - An optional fallback value if the variable
/// has not been set
@mixin use-var($property, $name: $property, $fallback: null) {
  #{$property}: get-var($name, $fallback);
}

$margin: 2rem 0 !default;
$padding: null !default;
$pre-margin: 0 !default;
$pre-padding: 1em !default;
$max-height: 50rem !default;
$tablet-max-height: min(60vh, $max-height) !default;

@mixin variables {
  @if not $disable-everything {
    @include set-var(margin, $margin);
    @include set-var(padding, $padding);
    @include set-var(pre-margin, $pre-margin);
    @include set-var(pre-padding, $pre-padding);

    @include set-var(max-height, $max-height);
    @include set-var(tablet-max-height, $tablet-max-height);
  }
}

@mixin _code-block {
  @if not $disable-code-block {
    .code-block {
      @include use-var(margin);
      @include use-var(padding);

      position: relative;
      width: 100%;

      &--no-mt {
        margin-top: 0;
      }

      &__scroll-container {
        @include core.interaction-outline($outline-offset: false);
        @include use-var(max-height);

        overflow: auto;

        &:focus-visible,
        &:has(:focus-visible) {
          @include core.interaction-focus-styles($disable-background: true);
        }

        @include core.tablet-media {
          @include set-var(max-height, get-var(tablet-max-height));
        }
      }

      &__pre-container {
        float: left;
        min-width: 100%;
        overflow: hidden;
        position: relative;
      }

      &__pre {
        @include use-var(margin, pre-margin);
        @include use-var(padding, pre-padding);

        white-space: pre;

        @if not $disable-wrappable {
          &--wrap {
            overflow-wrap: anywhere;
            white-space: pre-wrap;
            word-break: break-all;
          }
        }
      }
    }
  }
}

@mixin _app-bar {
  @if not $disable-code-block {
    .code-block-app-bar {
      @include core.interaction-use-dark-surface;
      @include core.theme-set-var(
        text-primary-color,
        core.$dark-theme-text-primary-color
      );
      @include core.theme-set-var(
        text-secondary-color,
        core.$dark-theme-text-secondary-color
      );
      @include core.theme-use-var(color, text-primary-color);

      background-color: map.get(core.$dark-elevation-colors, 10);
    }
  }
}

@mixin styles($disable-layer: false) {
  @if not $disable-everything {
    @include core.optional-layer(code-block, $disable-layer) {
      @include _code-block;
      @include _app-bar;
    }
  }
}
