@use "sass:map";
@use "sass:meta";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  background: "palette.surface-container-high",
  scrim: (
    background: "palette.scrim",
    opacity: 0.32,
  ),
  elevation: 3,
  max-width: 35rem,
  min-width: 17.5rem,
  gap: "spacing.large",
  padding-v: "spacing.extra-large",
  padding-h: "spacing.extra-large",
  max-height: 100%,
  height: fit-content,
  width: fit-content,
  z-index: "z-index.modal",

  margin: (
    inline-start: auto,
    inline-end: auto,
    block-start: auto,
    block-end: auto,
  ),

  shape: (
    all: "dialog.shape.round",
    square: "shape.corner.none",
    round: "shape.corner.extra-large",

    start-start: "dialog.shape.all",
    start-end: "dialog.shape.all",
    end-start: "dialog.shape.all",
    end-end: "dialog.shape.all",
  ),

  extra-small: (
    width: "dialog.min-width",
  ),
  small: (
    width: 20rem,
  ),
  medium: (
    width: 28rem,
  ),
  large: (
    width: 32rem,
  ),
  extra-large: (
    width: "dialog.max-width",
  ),
);

$-configure-tokens: map.keys($-tokens);

$-remap-tokens: utils.remap-tokens(
  dialog,
  utils.pick-keys($-tokens, ("margin", "shape"))
);

$-base-styles: $-remap-tokens;
$-host-styles: (
  // need to add this so that the `mwc-dialog` does not render as an empty cell
  // (0 height, 0 width, or both 0) within flex and grid layouts. without this,
  // it is considered an "empty cell" and gap is still applied
  display: contents
);
$-base-dialog-styles: (
  "elevation.level": "dialog.elevation",
  background: "dialog.background",
  border-end-end-radius: "dialog.shape.end-end",
  border-end-start-radius: "dialog.shape.end-start",
  border-start-end-radius: "dialog.shape.start-end",
  border-start-start-radius: "dialog.shape.start-start",
  border: 0,
  height: "dialog.height",
  margin-block-end: "dialog.margin.block-end",
  margin-block-start: "dialog.margin.block-start",
  margin-inline-end: "dialog.margin.inline-end",
  margin-inline-start: "dialog.margin.inline-start",
  max-height: "dialog.max-height",
  max-width: "dialog.max-width",
  min-width: "dialog.min-width",
  outline: 0,
  padding: 0,
  width: "dialog.width",

  // this makes it so the content doesn't readjust once the open/close
  // animations complete
  will-change: transform,
  z-index: "dialog.z-index",

  "&::before": utils.pseudo-element(),
);
$-backdrop-styles: (
  background: "dialog.scrim.background",
  opacity: "dialog.scrim.opacity",
);
$-square-styles: (
  "dialog.shape.all": "dialog.shape.square",
);
$-header-and-content-styles: (
  "dialog.header.padding-v": '"dialog.padding-v" 0',
  "dialog.content.padding-v": '"spacing.large" "dialog.padding-v"',
);
$-content-and-actions-styles: (
  "dialog.actions.padding-v": '0 "dialog.padding-v"',
);

$-popover-dialog-styles: (
  "dialog.scrim.opacity": 0,
  inset: auto,
  margin: 0,
  padding-block: "popover.spacing-y",
  padding-inline: "popover.spacing-x",
  position-anchor: --popover-target,
  position-area: '"popover.area-y" "popover.area-x"',
  position-try-fallbacks: "popover.fallbacks",
  transform: "popover.transform",
);
$-popover-backdrop-styles: ();
$-popover-target-styles: ();

$-extra-small-width-styles: utils.remap-variants(dialog, extra-small, width);
$-small-width-styles: utils.remap-variants(dialog, small, width);
$-medium-width-styles: utils.remap-variants(dialog, medium, width);
$-large-width-styles: utils.remap-variants(dialog, large, width);
$-extra-large-width-styles: utils.remap-variants(dialog, extra-large, width);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "dialog");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(dialog, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&dialog": $-base-styles,
    "&dialog::backdrop": $-backdrop-styles,
  );
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": map.merge($-base-styles, $-host-styles),
    ":host([width=extra-small])": $-extra-small-width-styles,
    ":host([width=small])": $-small-width-styles,
    ":host([width=medium])": $-medium-width-styles,
    ":host([width=large])": $-large-width-styles,
    ":host([width=extra-large])": $-extra-large-width-styles,
    ":host([shape=square])": $-square-styles,
    "dialog": $-base-dialog-styles,
    "dialog::backdrop": $-backdrop-styles,
    ".header": $-header-and-content-styles,
    ".actions": $-content-and-actions-styles,
    "dialog[popover]": $-popover-dialog-styles,
    "dialog[popover]::backdrop": $-popover-backdrop-styles,
    "::slotted([slot=popover-target])": $-popover-target-styles,
  );

  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
