@use "sass:map";
@use "sass:meta";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  background: "palette.surface-container-high",
  scrim: (
    background: "palette.scrim",
    opacity: 0.32,
  ),
  elevation: 3,
  max-width: 35rem,
  min-width: 17.5rem,
  gap: "spacing.large",
  max-height: 100%,
  height: fit-content,
  width: fit-content,
  z-index: "z-index.modal",

  margin: (
    all: auto,

    inline-start: "dialog.margin.all",
    inline-end: "dialog.margin.all",
    block-start: "dialog.margin.all",
    block-end: "dialog.margin.all",
  ),

  padding: (
    all: "spacing.extra-large",

    block-start: "dialog.padding.all",
    block-end: "dialog.padding.all",
    inline-start: "dialog.padding.all",
    inline-end: "dialog.padding.all",
  ),

  popover: (
    max-height: none,
  ),

  fixed: (
    bottom: 0,
    left: 0,
    right: auto,
    top: 0,

    height: auto,
    max-height: none,

    margin: (
      all: 0,

      inline-start: "dialog.fixed.margin.all",
      inline-end: "dialog.fixed.margin.all",
      block-start: "dialog.fixed.margin.all",
      block-end: "dialog.fixed.margin.all",
    ),
  ),

  shape: (
    all: "dialog.shape.round",
    square: "shape.corner.none",
    round: "shape.corner.extra-large",

    start-start: "dialog.shape.all",
    start-end: "dialog.shape.all",
    end-start: "dialog.shape.all",
    end-end: "dialog.shape.all",
  ),

  extra-small: (
    width: "dialog.min-width",
  ),
  small: (
    width: 20rem,
  ),
  medium: (
    width: 28rem,
  ),
  large: (
    width: 32rem,
  ),
  extra-large: (
    width: "dialog.max-width",
  ),
);

$-configure-tokens: map.keys($-tokens);

$-remap-tokens: utils.remap-tokens(
  dialog,
  utils.pick-keys($-tokens, ("margin", "shape"))
);

$-base-styles: $-remap-tokens;
$-base-dialog-styles: (
  "elevation.level": "dialog.elevation",
  background: "dialog.background",
  border-end-end-radius: "dialog.shape.end-end",
  border-end-start-radius: "dialog.shape.end-start",
  border-start-end-radius: "dialog.shape.start-end",
  border-start-start-radius: "dialog.shape.start-start",
  border: 0,
  height: "dialog.height",
  margin-block-end: "dialog.margin.block-end",
  margin-block-start: "dialog.margin.block-start",
  margin-inline-end: "dialog.margin.inline-end",
  margin-inline-start: "dialog.margin.inline-start",
  max-height: "dialog.max-height",
  max-width: "dialog.max-width",
  min-width: "dialog.min-width",
  outline: 0,
  padding: 0,
  width: "dialog.width",

  // this makes it so the content doesn't readjust once the open/close
  // animations complete
  will-change: transform,
  z-index: "dialog.z-index",

  "&::before": utils.pseudo-element(),
  "&:open": (
    display: flex,
    flex-direction: column,
  ),
);
$-backdrop-styles: (
  background: "dialog.scrim.background",
  opacity: "dialog.scrim.opacity",
);
$-square-styles: (
  "dialog.shape.all": "dialog.shape.square",
);
$-header-and-content-styles: (
  "dialog.header.padding.block-end": 0,
  "dialog.content.padding.block-start": "spacing.large",
);
$-content-and-actions-styles: (
  "dialog.actions.padding.block-start": 0,
);

// make the dialog content stretch to fill the dialog space, pushing actions to
// the bottom and displaying a scrollbar if too large
$-dialog-content-styles: (
  flex: 1 1 auto,
  overflow: auto,
);

// fixed dialogs are mostly for supporting sheets
$-fixed-dialog-styles: utils.deep-merge(
  utils.remap-variants(
    dialog,
    fixed,
    height,
    max-height,
    "margin.all",
    "margin.inline-start",
    "margin.inline-end",
    "margin.block-start",
    "margin.block-end"
  ),
  (
    bottom: "dialog.fixed.bottom",
    left: "dialog.fixed.left",
    position: fixed,
    right: "dialog.fixed.right",
    top: "dialog.fixed.top",
  )
);
$-popover-dialog-styles: (
  "dialog.scrim.opacity": 0,
  "dialog.max-height": "dialog.popover.max-height",
);

$-extra-small-width-styles: utils.remap-variants(dialog, extra-small, width);
$-small-width-styles: utils.remap-variants(dialog, small, width);
$-medium-width-styles: utils.remap-variants(dialog, medium, width);
$-large-width-styles: utils.remap-variants(dialog, large, width);
$-extra-large-width-styles: utils.remap-variants(dialog, extra-large, width);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "dialog");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(dialog, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&dialog": $-base-styles,
    "&dialog::backdrop": $-backdrop-styles,
  );
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ":host([width=extra-small])": $-extra-small-width-styles,
    ":host([width=small])": $-small-width-styles,
    ":host([width=medium])": $-medium-width-styles,
    ":host([width=large])": $-large-width-styles,
    ":host([width=extra-large])": $-extra-large-width-styles,
    ":host([shape=square])": $-square-styles,
    ":host([popover-type])": $-popover-dialog-styles,
    "dialog": $-base-dialog-styles,
    "dialog::backdrop": $-backdrop-styles,
    ".fixed": $-fixed-dialog-styles,
    ".header": $-header-and-content-styles,
    ".actions": $-content-and-actions-styles,
    ".content": $-dialog-content-styles,
  );

  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
