@use "sass:map";
@use "@react-md/core";

$disable-everything: false !default;
$disable-error: false !default;

$var-prefix: "--code-preview-" !default;

/// The available configurable css variables and mostly used internally for the
/// `get-var`, `set-var`, and `use-var` utils.
/// @type List
$variables: (background-color, border-radius, padding);

/// @param {String} name - The supported variable name
/// @param {any} fallback [null] - An optional fallback value
/// @returns {String} a `var()` statement
@function get-var($name, $fallback: null) {
  $var: $var-prefix + core.validate($variables, $name, "code-preview var");
  @if $fallback {
    @return var(#{$var}, #{$fallback});
  }

  @return var(#{$var});
}

/// @param {String} name - The supported variable name
/// @param {any} value - The value to set the variable to. Supports `null` which
/// will just be a no-op.
@mixin set-var($name, $value) {
  @if $value {
    #{$var-prefix + core.validate($variables, $name, "code-preview var")}: #{$value};
  }
}

/// @param {String} property - The css property to apply the variable to
/// @param {String} name [$property] - The supported variable name
/// @param {any} fallback [null] - An optional fallback value if the variable
/// has not been set
@mixin use-var($property, $name: $property, $fallback: null) {
  #{$property}: get-var($name, $fallback);
}

$border-radius: core.$card-border-radius !default;
$light-theme-background-color: core.$white !default;
$dark-theme-background-color: core.$dark-theme-background-color !default;
$background-color: core.get-default-color(
  $light-theme-background-color,
  $dark-theme-background-color
) !default;

$padding: 3em !default;

$error-offset: core.spacing-get-var(md) !default;

@mixin use-light-theme {
  @if not $disable-everything {
    @include set-var(background-color, $light-theme-background-color);
  }
}

@mixin use-dark-theme {
  @if not $disable-everything {
    @include set-var(background-color, $dark-theme-background-color);
  }
}

@mixin variables {
  @if not $disable-everything {
    @include set-var(background-color, $background-color);
    @include set-var(border-radius, $border-radius);
  }
}

@mixin styles($disable-layer) {
  @if not $disable-everything {
    @include core.optional-layer($disable-layer, code-preview) {
      .code-preview {
        @include core.theme-set-var(
          background-color,
          get-var(background-color)
        );
        @include core.divider-border-style;
        @include core.theme-use-var(background-color);

        @include use-var(border-radius);

        position: relative;

        &--padding {
          @include use-var(padding);
        }

        &--no-bb {
          border-bottom-width: 0;
        }

        @if not $disable-error {
          &__error {
            bottom: 0;
            left: $error-offset;
            position: absolute;
            right: $error-offset;
            white-space: pre;
          }
        }
      }
    }
  }
}
