@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  gap: "spacing.large",
  gap-h: "box.gap",
  gap-v: "box.gap",

  padding: "spacing.large",
  padding-h: "box.padding",
  padding-v: "box.padding",

  columns: auto-fit,
  item-min-size: 8rem,
  auto-rows-height: 100%,
  row-min-height: "box.item-min-size",
  row-max-height: 1fr,
);

$-configure-tokens: (
  align-items,
  justify-content,
  base-styles,
  gap-styles,
  row-gap-styles,
  column-gap-styles,
  padded-styles,
  flex-wrap-styles,
  full-width-styles,
  stacked-styles,
  stacked-reversed-styles,
  reversed-styles,
  grid-styles,
  grid-fill-styles,
  inline-flex-styles,
  inline-grid-styles
);

$-align-items: (start, end, stretch);
$-justify-content: (
  start,
  center,
  end,
  stretch,
  space-around,
  space-between,
  space-evenly
);
$-base-styles: (
  align-items: center,
  box-sizing: border-box,
  display: flex,
);
$-gap-styles: (
  gap: "box.gap",
);
$-row-gap-styles: (
  row-gap: "box.gap-v",
);
$-column-gap-styles: (
  column-gap: "box.gap-h",
);
$-padded-styles: (
  padding-block: "box.padding-v",
  padding-inline: "box.padding-h",
);
$-flex-wrap-styles: (
  flex-wrap: wrap,
);
$-full-width-styles: (
  width: 100%,
);
$-stacked-styles: (
  flex-direction: column,
);
$-reversed-styles: (
  flex-direction: row-reverse,
);
$-stacked-reversed-styles: (
  flex-direction: column-reverse,
);
$-grid-styles: (
  display: grid,
  grid-template-columns:
    'repeat("box.columns", minmax("box.item-min-size", 1fr))',
);
$-grid-fill-styles: (
  "box.columns": auto-fill,
);
$-inline-flex-styles: (
  display: inline-flex,
);
$-inline-grid-styles: (
  display: inline-grid,
);

@mixin configure(
  $align-items: null,
  $justify-content: null,
  $base-styles: null,
  $gap-styles: null,
  $row-gap-styles: null,
  $column-gap-styles: null,
  $padded-styles: null,
  $flex-wrap-styles: null,
  $full-width-styles: null,
  $stacked-styles: null,
  $stacked-reversed-styles: null,
  $reversed-styles: null,
  $grid-styles: null,
  $grid-fill-styles: null,
  $inline-flex-styles: null,
  $inline-grid-styles: null
) {
  @if $align-items != null {
    $-align-items: $align-items !global;
  }

  @if $justify-content != null {
    $-justify-content: $justify-content !global;
  }

  @if $base-styles != null {
    $-base-styles: $base-styles !global;
  }

  @if $gap-styles != null {
    $-gap-styles: $gap-styles !global;
  }

  @if $row-gap-styles != null {
    $-row-gap-styles: $row-gap-styles !global;
  }

  @if $full-width-styles != null {
    $-full-width-styles: $full-width-styles !global;
  }

  @if $stacked-styles != null {
    $-stacked-styles: $stacked-styles !global;
  }

  @if $stacked-reversed-styles != null {
    $-stacked-reversed-styles: $stacked-reversed-styles !global;
  }

  @if $reversed-styles != null {
    $-reversed-styles: $reversed-styles !global;
  }

  @if $grid-styles != null {
    $-grid-styles: $grid-styles !global;
  }

  @if $grid-fill-styles != null {
    $-grid-fill-styles: $grid-fill-styles !global;
  }

  @if $inline-flex-styles != null {
    $-inline-flex-styles: $inline-flex-styles !global;
  }

  @if $inline-grid-styles != null {
    $-inline-grid-styles: $inline-grid-styles !global;
  }

  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "box");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(box, $overrides, $-configure-tokens);
  @include configure(
    $align-items: map.get($overrides, align-items),
    $justify-content: map.get($overrides, justify-content),
    $base-styles: map.get($overrides, base-styles),
    $gap-styles: map.get($overrides, gap-styles),
    $row-gap-styles: map.get($overrides, row-gap-styles),
    $column-gap-styles: map.get($overrides, column-gap-styles),
    $padded-styles: map.get($overrides, padded-styles),
    $flex-wrap-styles: map.get($overrides, flex-wrap-styles),
    $full-width-styles: map.get($overrides, full-width-styles),
    $stacked-styles: map.get($overrides, stacked-styles),
    $stacked-reversed-styles: map.get($overrides, stacked-reversed-styles),
    $reversed-styles: map.get($overrides, reversed-styles),
    $grid-styles: map.get($overrides, grid-styles),
    $grid-fill-styles: map.get($overrides, grid-fill-styles),
    $inline-flex-styles: map.get($overrides, inline-flex-styles),
    $inline-grid-styles: map.get($overrides, inline-grid-styles)
  );
}

@function -get-flex-property-styles($property, $value, $host-mode) {
  $items: ();
  $shorthand: list.nth(string.split($property, "-"), 1);
  @if meta.type-of($value) == string {
    $items: list.append($items, $value);
  } @else if meta.type-of($value) == list {
    $items: $value;
  }

  $styles: ();
  @each $item in $items {
    // prettier-ignore
    $selector: if(
      sass($host-mode): ":host([#{$shorthand}=#{$item}])";
      else: "&box--#{$shorthand}-#{$item}"
    );
    $styles: map.set($styles, $selector, (#{$property}: $item));
  }
  @return $styles;
}

@mixin css-styles {
  $styles: (
    "&box": $-base-styles,
    "&box--gap": $-gap-styles,
    "&box--row-gap": $-row-gap-styles,
    "&box--column-gap": $-column-gap-styles,
    "&box--padded": $-padded-styles,
    "&box--flex-wrap": $-flex-wrap-styles,
    "&box--full-width": $-full-width-styles,
    "&box--stacked": $-stacked-styles,
    "&box--reversed": $-reversed-styles,
    "&box--stacked-reversed": $-stacked-reversed-styles,
    "&box--grid": $-grid-styles,
    "&box--grid-fill": $-grid-fill-styles,
    "&box--inline": $-inline-flex-styles,
    "&box--inline-grid": $-inline-grid-styles,
  );

  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ":host([gap=all])": $-gap-styles,
    ":host([gap=row])": $-row-gap-styles,
    ":host([gap=column])": $-column-gap-styles,
    ":host([padding=all])": $-padded-styles,
    ":host(:not([nowrap]))": $-flex-wrap-styles,
    ":host([full-width])": $-full-width-styles,
    ":host([stacked]:not([reversed]))": $-stacked-styles,
    ":host(:not([stacked])[reversed])": $-reversed-styles,
    ":host([stacked][reversed])": $-stacked-reversed-styles,
    ":host([grid])": $-grid-styles,
    ":host([grid=fill])": $-grid-fill-styles,
    ":host([inline]:not([grid]))": $-inline-flex-styles,
    ":host([inline][grid])": $-inline-grid-styles,
  );

  @each $align in $-align-items {
    $styles: map.set(
      $styles,
      ":host([align=#{$align}])",
      (
        align-items: $align,
      )
    );
  }

  @each $align in $-justify-content {
    $styles: map.set(
      $styles,
      ":host([justify=#{$align}])",
      (
        justify-content: $align,
      )
    );
  }

  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
