@use "sass:map";

@use "../utils";
@use "../interaction";

$-tokens-registered: false;
$-elevated-tokens: (
  background: "palette.surface-container-low",
  background-opacity: 1,
  elevation: 1,
  shape: "shape.corner.medium",

  disabled: (
    elevation: 1,
    background: "palette.surface",
    background-opacity: 0.38,
  ),

  hovered: (
    elevation: 3,
  ),

  focused: (
    elevation: 1,
  ),

  dragged: (
    elevation: 8,
  ),
);
$-filled-tokens: (
  background: "palette.surface-container-highest",
  background-opacity: 1,
  elevation: 0,
  shape: "shape.corner.medium",

  disabled: (
    elevation: 0,
    // material design website shows this var at the time of writing this, but
    // the screenshot is closer to the uncommented color
    // background: "palette.on-surface",
    background: "palette.surface-container-highest",
    background-opacity: 0.38,
  ),

  hovered: (
    elevation: 1,
  ),
  focused: (
    elevation: 0,
  ),
  dragged: (
    elevation: 6,
  ),
);
$-outlined-tokens: (
  background: "palette.surface",
  background-opacity: 1,
  elevation: 0,
  shape: "shape.corner.medium",

  hovered: (
    elevation: 1,
  ),
  dragged: (
    elevation: 6,
  ),
);
$-tokens: (
  elevated: $-elevated-tokens,
  filled: $-filled-tokens,
  outlined: $-outlined-tokens,

  background: "palette.surface",
  background-opacity: 1,
  color: "palette.on-surface",
  color-opacity: 1,
  elevation: 0,
  shadow: "palette.shadow",
  shape: (
    all: null,
    round: "shape.corner.medium",
    square: "shape.corner.none",

    start-start: "card.shape.all",
    start-end: "card.shape.all",
    end-start: "card.shape.all",
    end-end: "card.shape.all",
  ),

  outline: (
    color: "palette.outline-variant",
    opacity: 1,
    width: 1px,
  ),

  disabled: (
    color: "palette.on-surface",
    color-opacity: 0.38,
    elevation: 0,

    outline: (
      color: "palette.outline",
      opacity: 0.12,
    ),
  ),

  hovered: (
    elevation: 0,

    outline: (
      color: "palette.outline-variant",
    ),
  ),

  focused: (
    elevation: 0,

    outline: (
      color: "palette.on-surface",
    ),
  ),

  dragged: (
    elevation: 0,
  ),
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  "elevation.level": "card.elevation",
  "elevation.shadow-color": "card.shadow",
  background: utils.get-rgb-var("card.background", "card.background-opacity"),
  border-start-start-radius: "card.shape.start-start",
  border-start-end-radius: "card.shape.start-end",
  border-end-start-radius: "card.shape.end-start",
  border-end-end-radius: "card.shape.end-end",
  box-sizing: border-box,
  color: utils.get-rgb-var("card.color", "card.color-opacity"),
  display: block,
  position: relative,
);
$-container-styles: (
  border-radius: inherit,
  height: 100%,
  overflow: hidden,
);
$-inline-styles: (
  display: inline-block,
);
$-base-disabled-styles: utils.deep-merge(
  utils.remap-variants(
    card,
    disabled,
    elevation,
    background,
    background-opacity,
    color,
    color-opacity,
    "outline.color",
    "outline.opacity"
  ),
  (
    "card.hovered.elevation": "card.disabled.elevation",
    "card.hovered.outline.color": "card.disabled.outline.color",
    "card.hovered.outline.opacity": "card.disabled.outline.opacity",
  )
);
$-base-hovered-styles: utils.remap-variants(
  card,
  hovered,
  elevation,
  "outline.color",
  "outline.opacity"
);
$-base-focused-styles: utils.remap-variants(
  card,
  focused,
  elevation,
  "outline.color",
  "outline.opacity"
);
$-base-dragged-styles: utils.deep-merge(
  utils.remap-variants(card, dragged, "elevation"),
  (
    "card.hovered.elevation": "card.dragged.elevation",
    "interaction.container.opacity": 0,
  )
);
$-clickable-styles: (
  user-select: none,
);
$-not-clickable-styles: (
  "interaction.container.opacity": 0,
  cursor: auto,
);
$-elevated-styles: utils.remap-variants(
  card,
  elevated,
  elevation,
  background,
  background-opacity,
  "hovered.elevation",
  "focused.elevation",
  "disabled.elevation",
  "disabled.background",
  "disabled.background-opacity",
  "dragged.elevation"
);
$-filled-styles: utils.remap-variants(
  card,
  filled,
  elevation,
  background,
  background-opacity,
  "hovered.elevation",
  "focused.elevation",
  "disabled.elevation",
  "disabled.background",
  "disabled.background-opacity",
  "dragged.elevation"
);
$-outlined-styles: utils.deep-merge(
  utils.remap-variants(
    card,
    outlined,
    elevation,
    background,
    background-opacity,
    "hovered.elevation",
    "dragged.elevation"
  ),
  (
    "&::before":
      utils.deep-merge(
        utils.pseudo-element(),
        (
          border: '"card.outline.width" solid "card.outline.color"',
          opacity: "card.outline.opacity",
        )
      ),
  )
);
$-round-styles: (
  "card.shape.all": "card.shape.round",
);
$-square-styles: (
  "card.shape.all": "card.shape.square",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "card");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(card, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ".container": $-container-styles,
    ":host([inline])": $-inline-styles,
    ":host([clickable])": $-clickable-styles,
    ":host(:not([clickable]))": $-not-clickable-styles,
    ":host([variant=elevated])": $-elevated-styles,
    ":host([variant=filled])": $-filled-styles,
    ":host([variant=outlined])": $-outlined-styles,
    ":host([shape=round])": $-round-styles,
    ":host([shape=square])": $-square-styles,
    // "host-hover": $-base-hovered-styles,
    "@media (hover: hover) and (pointer: fine)": (
        ":host([clickable]:hover)": $-base-hovered-styles,
      ),
    ":host(#{interaction.$is-disabled})": $-base-disabled-styles,
    ":host(#{interaction.$is-focus-visible})": $-base-focused-styles,
    ":host([dragging])": $-base-dragged-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
