@use "sass:map";

@use "../utils";
@use "../interaction";

$-tokens-registered: false;
$-elevated-tokens: (
  background: "palette.surface-container-low",
  background-opacity: 1,
  elevation: 1,
  shape: "shape.corner.medium",

  icon: (
    color: "palette.primary",
    size: 1.5rem,
  ),

  disabled: (
    elevation: 1,
    background: "palette.surface",
    background-opacity: 0.38,
  ),

  hovered: (
    elevation: 3,
  ),

  focused: (
    elevation: 1,
  ),

  dragged: (
    elevation: 8,
  ),
);
$-filled-tokens: (
  // still has shadow?
  // same icon stuff
  background: "palette.surface-container-highest",
  background-opacity: 1,
  elevation: 0,
  shape: "shape.corner.medium",
  disabled: (
    elevation: 0,
    background: "palette.on-surface",
    background-opacity: 0.38,
  ),

  hovered: (
    elevation: 1,
    // normal state layer
  ),
  focused: (
    // same focus indicator
    elevation: 0
  ),
  dragged: (
    elevation: 6,

    // "interaction.dragged.container.opacity"
  )
);
$-outlined-tokens: (
  background: "palette.surface",
  background-opacity: 1,
  elevation: 0,
  shape: "shape.corner.medium",

  outline: (
    color: "palette.outline-variant",
    opacity: 1,
    width: 1px,
  ),

  disabled: (
    outline: (
      color: "palette.outline",
      opacity: 0.12,
    ),
  ),

  hovered: (
    elevation: 1,
    outline: (
      color: "palette.outline-variant",
    ),
  ),

  focused: (
    outline: (
      color: "palette.on-surface",
    ),
  ),
  dragged: (
    elevation: 6,

    // "interaction.dragged.container.opacity"
  ),
);
$-tokens: (
  elevated: $-elevated-tokens,
  filled: $-filled-tokens,
  outlined: $-outlined-tokens,

  background: "palette.surface",
  background-opacity: 1,
  elevation: 0,
  shadow: "palette.shadow",
  shape: (
    current: null,
    round: "shape.corner.medium",
    square: "shape.corner.none",
  ),

  hovered: (
    elevation: 0,
  ),

  focused: (
    elevation: 0,
  ),

  disabled: (
    elevation: 0,
  ),

  dragged: (
    elevation: 0,
  ),
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  "elevation.level": "card.elevation",
  "elevation.shadow-color": "card.shadow",
  // "interaction.hovered.container.color": "card.hovered.interaction.color",
  // "interaction.hovered.container.opacity": "card.hovered.interaction.opacity",
  // "interaction.focused.container.color": "card.focused.interaction.color",
  // "interaction.focused.container.opacity": "card.focused.interaction.opacity",
  // "interaction.focused.container.elevation": "card.focused.elevation",
  // "interaction.pressed.container.color": "card.pressed.interaction.color",
  // "interaction.pressed.container.opacity": "card.pressed.interaction.opacity",
  background: utils.get-rgb-var("card.background", "card.background-opacity"),
  border-radius: "card.shape.current",
  box-sizing: border-box,
  display: flex,
  flex-direction: column,
);
$-base-hovered-styles: utils.remap-variants(card, hovered, elevation);
$-base-disabled-styles: utils.deep-merge(
  utils.remap-variants(
    card,
    disabled,
    elevation,
    background,
    background-opacity
  ),
  (
    "card.hovered.elevation": "card.disabled.elevation",
  )
);
$-clickable-styles: (
  user-select: none,
);
$-not-clickable-styles: (
  "interaction.container.opacity": 0,
  cursor: auto,
);
$-elevated-styles: utils.remap-variants(
  card,
  elevated,
  elevation,
  background,
  background-opacity,
  "hovered.elevation",
  "focused.elevation",
  "disabled.elevation",
  "disabled.background",
  "disabled.background-opacity"
);
$-filled-styles: utils.remap-variants(
  card,
  filled,
  elevation,
  background,
  background-opacity,
  "hovered.elevation",
  "focused.elevation"
);
$-outlined-styles: utils.remap-variants(
  card,
  outlined,
  elevation,
  background,
  background-opacity,
  "hovered.elevation",
  "focused.elevation"
);
$-round-styles: (
  "card.shape.current": "card.shape.round",
);
$-square-styles: (
  "card.shape.current": "card.shape.square",
);
$-base-header-styles: (
  border-start-start-radius: "card.shape.current",
  border-start-end-radius: "card.shape.current",
);
$-base-footer-styles: (
  border-end-start-radius: "card.shape.current",
  border-end-end-radius: "card.shape.current",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "card");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(card, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ":host([clickable])": $-clickable-styles,
    ":host(:not([clickable]))": $-not-clickable-styles,
    ":host([variant=elevated])": $-elevated-styles,
    ":host([variant=filled])": $-filled-styles,
    ":host([variant=outlined])": $-outlined-styles,
    ":host([shape=round])": $-round-styles,
    ":host([shape=square])": $-square-styles,
    "@media (hover: hover) and (pointer: fine)": (
      ":host([clickable]:hover)": $-base-hovered-styles,
    ),
    // "host-hover": $-base-hovered-styles,
    ":host(#{interaction.$is-disabled})": $-base-disabled-styles,
    "::slotted([slot=header])": $-base-header-styles,
    "::slotted([slot=footer])": $-base-footer-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
