@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  none: 0,
  extra-small: utils.to-rem(4),
  small: utils.to-rem(8),
  medium: utils.to-rem(12),
  large: utils.to-rem(16),
  large-increased: utils.to-rem(20),
  extra-large: utils.to-rem(28),
  extra-large-increased: utils.to-rem(32),
  extra-extra-large: utils.to-rem(48),
  full: utils.to-rem(1000),
);
$-configure-tokens: map.keys($-tokens);

@mixin -update($value, $name) {
  @if $value {
    $-tokens: map.set($-tokens, $name, $value) !global;
  }
}

@mixin configure(
  $none: null,
  $extra-small: null,
  $small: null,
  $medium: null,
  $large: null,
  $large-increased: null,
  $extra-large: null,
  $extra-extra-increased: null,
  $extra-extra-large: null,
  $full: null
) {
  @include -update($none, none);
  @include -update($extra-small, extra-small);
  @include -update($small, small);
  @include -update($medium, medium);
  @include -update($large, large);
  @include -update($large-increased, large-increased);
  @include -update($extra-large, extra-large);
  @include -update($extra-extra-increased, extra-extra-increased);
  @include -update($extra-extra-large, extra-extra-large);
  @include -update($full, full);

  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "shape.corner");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(shape, $overrides, $-configure-tokens);
  @include configure(
    $none: map.get($overrides, none),
    $extra-small: map.get($overrides, extra-small),
    $small: map.get($overrides, small),
    $medium: map.get($overrides, medium),
    $large: map.get($overrides, large),
    $large-increased: map.get($overrides, large-increased),
    $extra-large: map.get($overrides, extra-large),
    $extra-extra-increased: map.get($overrides, extra-extra-increased),
    $extra-extra-large: map.get($overrides, extra-extra-large),
    $full: map.get($overrides, full)
  );
}

@mixin variables {
  $register-tokens: not $-tokens-registered;
  @if $register-tokens {
    $-tokens-registered: true !global;
  }

  @include utils.set-default-tokens(
    $tokens: $-tokens,
    $prefix: "shape",
    $register-tokens: $register-tokens
  );
}
