@use "sass:map";
@use "sass:meta";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  color: "palette.primary",
  gap: "spacing.small",
  focused: (
    offset: "spacing.extra-small",
  ),
  hovered: (
    color: "palette.secondary",
  ),
  visited: (
    color: "palette.tertiary",
  ),
);
$-color-variants: map.keys(map.get($-tokens, visited));

$-configure-tokens: map.keys($-tokens);

$-remapped-styles: utils.remap-tokens(
  link,
  map.remove($-tokens, hovered, visited)
);
$-short-names: map.keys($-remapped-styles);

$-base-styles: utils.deep-merge(
  $-remapped-styles,
  (
    "interaction.focused.container.opacity": 0,
    "interaction.focused.outward-offset": "link.focused.offset",
    "interaction.focused.inward-offset": 'calc("link.focused.offset" * -1)',
    "interaction.hovered.container.opacity": 0,
  )
);
$-base-link-styles: (
  align-items: center,
  color: "link.color",
  display: inline-flex,
  gap: "link.gap",
  transition: 'color "transition.duration.short-3" "transition.easing.linear"',
);
$-inline-styles: (
  display: inline,
);

$-focused-styles: ();
$-visited-styles: (
  color: "link.visited.color",
);
$-hovered-styles: (
  color: "link.hovered.color",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "link");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(link, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $keyframes: null;
  $styles: (
    "&link": utils.deep-merge(
        $-base-styles,
        (
          "mouse-hover": $-hovered-styles,
        )
      ),
    "&link--inline": $-inline-styles,
  );

  @include utils.css-styles(
    $styles,
    $keyframes: $keyframes,
    $short-names: $-short-names
  );
}

@mixin host-styles {
  $keyframes: null;
  $styles: (
    ":host": $-base-styles,
    "@media (hover: hover) and (pointer: fine)": (
      ":host(:hover)": $-hovered-styles,
      ":host(:hover) a:visited": (
        color: "link.hovered.color",
      ),
    ),
    "a:visited": $-visited-styles,
    "a:focus-visible": $-focused-styles,
    ":host([inline]) a": $-inline-styles,
  );

  @include utils.host-styles(
    $styles,
    $keyframes: $keyframes,
    $short-names: $-short-names
  );
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
