@use "sass:map";
@use "sass:meta";

@use "../utils";
@use "../interaction";

$-tokens-registered: false;
$-tokens: (
  color: "palette.primary",
  focused: (
    offset: "spacing.extra-small",
  ),
  hovered: (
    color: "palette.secondary",
  ),
  visited: (
    color: "palette.tertiary",
  ),
);
$-color-variants: map.keys(map.get($-tokens, visited));

$-configure-tokens: map.keys($-tokens);

$-disable-interaction-styles: false;
$-remapped-styles: utils.remap-tokens(
  map.remove($-tokens, hovered, visited),
  link
);
$-short-names: map.keys($-remapped-styles);

$-base-styles: utils.deep-merge(
  $-remapped-styles,
  (
    color: "link.color",
  )
);
$-base-interaction-styles: (
  "interaction.focused.outward-offset": "link.focused.offset",
  "interaction.focused.inward-offset": 'calc("link.focused.offset" * -1)',
  outline: 0,
  position: relative,
  transition: '"transition.duration.short-3" color "transition.easing.linear"',

  "&::before": utils.deep-merge(
      utils.pseudo-element(
        $border-radius: null,
      ),
      (
        border-radius: "spacing.small",
        box-sizing: border-box,
      )
    ),
);

$-focused-styles: ();
$-visited-styles: (
  color: "link.visited.color",
);
// $-visited-styles: utils.remap-variants(link, visited, $-color-variants...);
// $-hovered-styles: utils.remap-variants(link, hovered, $-color-variants...);
$-hovered-styles: (
  color: "link.hovered.color",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "link");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(link, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $keyframes: null;
  $styles: (
    "&link": utils.deep-merge(
        $-base-styles,
        (
          "mouse-hover": $-hovered-styles,
        )
      ),
  );

  @if not $-disable-interaction-styles {
    $focused-styles: interaction.get-focused-styles();
    $focus-visible: utils.deep-merge(
      map.get($focused-styles, focused),
      map.get($focused-styles, outward)
    );
    $base: utils.deep-merge(
      $-base-interaction-styles,
      map.get($focused-styles, base)
    );
    $remove-background: (
      background: null,
    );

    $styles: utils.deep-merge(
      $styles,
      (
        "&link": $base,
        "&link:focus-visible": utils.deep-merge(
            $focus-visible,
            (
              "&::before": $remove-background,
            )
          ),
      )
    );
    $keyframes: map.get($focused-styles, keyframes);
  }

  @include utils.css-styles(
    $styles,
    $keyframes: $keyframes,
    $short-names: $-short-names
  );
}

@mixin host-styles {
  $keyframes: null;
  $styles: (
    "a": utils.deep-merge(
        $-base-styles,
        (
          "mouse-hover": utils.deep-merge(
              $-hovered-styles,
              (
                "&:visited": (
                  color: "link.hovered.color",
                ),
              )
            ),
        )
      ),
    "a:visited": $-visited-styles,
    "a:focus-visible": $-focused-styles,
  );

  @if not $-disable-interaction-styles {
    $focused-styles: interaction.get-focused-styles();
    $base: utils.deep-merge(
      $-base-interaction-styles,
      map.get($focused-styles, base)
    );
    $remove-background: (
      background: null,
    );

    $styles: utils.deep-merge(
      $styles,
      (
        "a": $base,
        "a:focus-visible": utils.deep-merge(
            map.get($focused-styles, focused),
            (
              "&::before": $remove-background,
            )
          ),
        ":host([interaction=outward]) a:focus-visible": map.get(
            $focused-styles,
            outward
          ),
        ":host([interaction=inward]) a:focus-visible": map.get(
            $focused-styles,
            inward
          ),
      )
    );
    $keyframes: map.get($focused-styles, keyframes);
  }

  @include utils.host-styles(
    $styles,
    $keyframes: $keyframes,
    $short-names: $-short-names
  );
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
