<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or meta.title }}</title>
    <base href="{{ page.url }}" />
    {% include "head/google-fonts.njk" %}
    {% include "head/js-inline.njk" %}
    {# {% include "head/schema.njk" %} #}
    {% include "head/css-inline.njk" %}
    {% include "head/preloads.njk" %}
    {% include "head/js-defer.njk" %}
    {% include "head/meta-info.njk" %}
  </head>
  <body class="{{ bodyClassName }}">{{ content | safe }}</body>
</html>
