---
layout: base-nav
bodyClassName: "toc-page"
---

{% css "local" %}
{% include "css/toc-page.css" %}
{% endcss %}
<mwc-typography variant="display">
<h1>{{ doc.title }}</h1>
</mwc-typography>
{% if doc.description %}
  <mwc-typography>
  <p>{{ doc.description }}</p>
  </mwc-typography>
{% endif %}
{{ content | safe }}
