@use "sass:list";
@use "sass:map";
@use "sass:string";

@use "../utils";

$-tokens-registered: false;
// the base container variables are overwritten by the other states
$-tokens: (
  container: (
    color: null,
    opacity: null,
    inset: 0,
  ),
  hovered: (
    container: (
      color: "palette.on-surface",
      opacity: 0.08,
    ),
  ),
  focused: (
    container: (
      color: "palette.on-surface",
      opacity: 0.1,
      elevation: null,
    ),
    animation-name: null,
    outline: null,
    inset: 0,

    color: "palette.secondary",
    duration: "transition.duration.extra-long-1",
    active-width: utils.to-rem(8),
    width: utils.to-rem(2),
    inward-offset: 0,
    outward-offset: utils.to-rem(2),
  ),
  pressed: (
    container: (
      color: "palette.on-surface",
      opacity: 0.1,
      inset: "interaction.container.inset",
    ),
    ripple: (
      opacity: 0,
    ),
  ),
  dragged: (
    container: (
      opacity: 0.16,
    ),
  ),
  disabled: (
    container: (
      opacity: 0.38,
    ),
  ),
);
$-focused-animation: true;
$-state-keys: ("container.color", "container.opacity");

$-configure-tokens: (
  focused-color,
  focused-opacity,
  focused-width,
  focused-animation,
  focused-active-width,
  focused-inward-offset,
  focused-outward-offset,
  hovered-opacity,
  pressed-opacity,
  dragged-opacity,
  disabled-opacity
);

$-base-styles: (
  position: relative,
);
$-base-disabled-styles: (
  "interaction.container.opacity": 0,
  cursor: auto,
);
$-base-clickable-styles: (
  cursor: pointer,
);
$-base-focusable-styles: (
  outline: 0,
);
$-base-focusable-animation-styles: (
  animation-delay: '0s, calc("interaction.focused.duration" * 0.25)',
  animation-duration:
    'calc("interaction.focused.duration" * 0.25), calc("interaction.focused.duration" * 0.75)',
  animation-name: "interaction.focused.animation-name",
  animation-timing-function: "transition.easing.emphasized",
  border: "interaction.focused.border",
  inset: "interaction.focused.inset",
  outline: "interaction.focused.outline",

  "@media (prefers-reduced-motion)": (
    "&": (
      animation: none,
    ),
  ),
);

$-base-interaction-layer-styles: utils.deep-merge(
  (
    "&, &::before": utils.deep-merge(
        utils.pseudo-element(),
        (
          box-sizing: border-box,
        )
      ),
  ),
  (
    inset: "interaction.container.inset",
  )
);
// hover and focus states. can also support fallback pressed states if not using the ripple
$-base-state-layer-styles: (
  "&::before": (
    background: utils.get-rgb-var(
        "interaction.container.color",
        "interaction.container.opacity"
      ),
    transition:
      '"transition.duration.short-3" background "transition.easing.linear"',
  ),
);
// pressed states
$-base-ripple-styles: (
  overflow: hidden,

  "&::before": (
    background:
      'radial-gradient(closest-side, "interaction.pressed.container.color" max(100% - 70px, 65%), transparent 100%)',
    opacity: "interaction.pressed.ripple.opacity",
    transform-origin: center center,
    transition: opacity 375ms linear,
  ),
);
$-hovered-styles: utils.remap-variants(interaction, hovered, $-state-keys...);
$-focused-styles: utils.remap-variants(interaction, focused, $-state-keys...);
$-focused-inward-styles: (
  "interaction.focused.animation-name": "inward-grow, inward-shrink",
  "interaction.focused.border": '"interaction.focused.width" solid currentcolor',
  "interaction.focused.inset": "interaction.focused.inward-offset",
);
$-focused-outward-styles: (
  "interaction.focused.animation-name": "outward-grow, outward-shrink",
  "interaction.focused.inset": 'calc(-1 * "interaction.focused.outward-offset")',
  "interaction.focused.outline":
    '"interaction.focused.width" solid currentcolor',
);
$-pressed-styles: (
  "interaction.pressed.ripple.opacity": "interaction.pressed.container.opacity",
);
$-ripple-disabled-styles: (
  display: none,
);

$-keyframes: (
  "inward-grow": (
    from: (
      border-width: 0,
    ),
    to: (
      border-width: "interaction.focused.active-width",
    ),
  ),
  "inward-shrink": (
    from: (
      border-width: "interaction.focused.active-width",
    ),
  ),
  "outward-grow": (
    from: (
      outline-width: 0,
    ),
    to: (
      outline-width: "interaction.focused.active-width",
    ),
  ),
  "outward-shrink": (
    from: (
      outline-width: "interaction.focused.active-width",
    ),
  ),
);

@mixin configure(
  $focused-animation: null,
  $focused-width: null,
  $focused-active-width: null,
  $focused-color: null,
  $focused-inward-offset: null,
  $focused-outward-offset: null,
  $focused-opacity: null,
  $hovered-opacity: null,
  $pressed-opacity: null,
  $dragged-opacity: null,
  $disabled-opacity: null
) {
  @if $focused-animation == false or $focused-animation == true {
    $-focused-animation: $focused-animation !global;
  }

  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "interaction");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(interaction, $overrides, $-configure-tokens);
  @include configure(
    $focused-color: map.get($overrides, focused-color),
    $focused-opacity: map.get($overrides, focused-opacity),
    $focused-width: map.get($overrides, focused-width),
    $focused-animation: map.get($overrides, focused-animation),
    $focused-active-width: map.get($overrides, focused-active-width),
    $focused-inward-offset: map.get($overrides, focused-inward-offset),
    $focused-outward-offset: map.get($overrides, focused-outward-offset),
    $hovered-opacity: map.get($overrides, hovered-opacity),
    $pressed-opacity: map.get($overrides, pressed-opacity),
    $dragged-opacity: map.get($overrides, dragged-opacity),
    $disabled-opacity: map.get($overrides, disabled-opacity)
  );
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles, $keyframes: $-keyframes);
}

@mixin host-styles {
  $host-styles: utils.deep-merge(
    $-base-styles,
    $-base-clickable-styles,
    $-base-focusable-styles
  );
  $state-layer-styles: utils.deep-merge(
    $-base-state-layer-styles,
    (
      "&::before": $-base-focusable-animation-styles,
    )
  );

  $styles: (
    ":host, .state-layer-target": $host-styles,
    "host-hover": $-hovered-styles,
    ":host(:focus-visible), .state-layer-target:focus-visible": $-focused-styles,
    ":host([interaction=inward]:focus-visible), :host([interaction=inward]) .state-layer-target:focus-visible":
      $-focused-inward-styles,
    ":host([interaction=outward]:focus-visible), :host([interaction=outward]) .state-layer-target:focus-visible":
      $-focused-outward-styles,
    ":host(:is([disabled], [aria-disabled=true]))": $-base-disabled-styles,
    ".state-layer, .ripple": $-base-interaction-layer-styles,
    ".state-layer": $state-layer-styles,
    ".ripple": $-base-ripple-styles,
    ".pressed": $-pressed-styles,
  );
  @include utils.host-styles($styles, $keyframes: $-keyframes);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
