@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-extra-small-tokens: (
  height: 2rem,
  icon-size: 1.25rem,
  narrow-width: 1.75rem,
  wide-width: 2.5rem,
);
$-small-tokens: (
  height: 2.5rem,
  icon-size: 1.5rem,
  narrow-width: 2rem,
  wide-width: 3.25rem,
);
$-medium-tokens: (
  height: 3.5rem,
  icon-size: 1.5rem,
  narrow-width: 3rem,
  wide-width: 4.5rem,
);
$-large-tokens: (
  height: 6rem,
  icon-size: 2rem,
  narrow-width: 4rem,
  wide-width: 8rem,
);

$-extra-large-tokens: (
  height: 8.5rem,
  icon-size: 2.5rem,
  narrow-width: 6.5rem,
  wide-width: 11.5rem,
);
$-tokens: utils.deep-merge(
  $-small-tokens,
  (
    width: "icon-button.height",

    extra-small: $-extra-small-tokens,
    small: $-small-tokens,
    medium: $-medium-tokens,
    large: $-large-tokens,
    extra-large: $-extra-large-tokens,
  )
);

$-configure-tokens: map.keys($-tokens);

$-remapped-styles: utils.remap-tokens(
  icon-button,
  map.remove($-tokens, extra-small, small, medium, large, extra-large, width)
);
$-short-names: map.keys($-remapped-styles);

@function -remap-size($size) {
  @return utils.deep-merge(
    utils.remap-variants(icon-button, $size, height, narrow-width, wide-width),
    (
      font-size: "icon-button.#{$size}.icon-size",
    )
  );
}

$-styles: utils.deep-merge(
  $-remapped-styles,
  (
    "icon.size": 1em,
    font-size: "icon-button.icon-size",
    height: auto,
    padding-block: 'calc(("icon-button.height" - 1em) / 2)',
    padding-inline: 'calc(("icon-button.width" - 1em) / 2)',
    width: auto,
  )
);
$-extra-small-styles: -remap-size(extra-small);
$-small-styles: -remap-size(small);
$-medium-styles: -remap-size(medium);
$-large-styles: -remap-size(large);
$-extra-large-styles: -remap-size(extra-large);
$-narrow-styles: (
  "icon-button.width": "icon-button.narrow-width",
);
$-wide-styles: (
  "icon-button.width": "icon-button.wide-width",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "icon-button");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(icon-button, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&icon-button": $-styles,
    "&icon-button--extra-small": $-extra-small-styles,
    // small is removed since it is the default remapping
    // "&icon-button--small": $-small-styles,
    "&icon-button--medium": $-medium-styles,
    "&icon-button--large": $-large-styles,
    "&icon-button--extra-large": $-extra-large-styles,
    "&icon-button--narrow": $-narrow-styles,
    "&icon-button--wide": $-wide-styles,
  );
  @include utils.css-styles($styles, $short-names: $-short-names);
}

@mixin host-styles {
  $styles: (
    ":host": $-styles,
    ":host([size=extra-small])": $-extra-small-styles,
    // small is removed since it is the default remapping
    // ":host([size=small])": $-small-styles,
    ":host([size=medium])": $-medium-styles,
    ":host([size=large])": $-large-styles,
    ":host([size=extra-large])": $-extra-large-styles,
    ":host([width=narrow])": $-narrow-styles,
    ":host([width=wide])": $-wide-styles,
  );
  @include utils.host-styles($styles, $short-names: $-short-names);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
