@use "sass:map";

@use "../utils";
@use "../typography";

@use "tokens";

$-tokens-registered: false;
$-tokens: (
  background: null,
  background-opacity: 0,
  color: "palette.on-surface",
  color-opacity: 1,

  filled: tokens.$filled-tokens,
  outlined: tokens.$outlined-tokens,
  shape: (
    all: "shape.corner.extra-small",

    start-start: "text-field.shape.all",
    start-end: "text-field.shape.all",
    end-start: "text-field.shape.all",
    end-end: "text-field.shape.all",
  ),

  min-height: "text-field.size.normal",
  min-width: 4.75rem,
  size: (
    small: 2.5rem,
    normal: 3.5rem,
  ),

  outline: (
    color: null,
    inset: 0,
    opacity: 1,
    width: 0,
  ),

  input: (
    margin: (
      all: 0,
      block-end: "text-field.input.margin.all",
      block-start: "text-field.input.margin.all",
      inline-end: "text-field.input.margin.all",
      inline-start: "text-field.input.margin.all",
    ),
    padding: (
      all: 0,
      block-end: "text-field.input.padding.all",
      block-start: "text-field.input.padding.all",
      inline-end: "text-field.input.padding.all",
      inline-start: "text-field.input.padding.all",
    ),
  ),
  caret: (
    color: "palette.primary",
  ),

  prefix: (
    color: "palette.on-surface-variant",
    opacity: 1,
  ),
  suffix: (
    color: "palette.on-surface-variant",
    opacity: 1,
  ),
  placeholder: (
    color: "palette.on-surface-variant",
    opacity: 1,
  ),
  label: (
    color: "palette.on-surface-variant",
    opacity: 1,
    offset: 0,
    translate: 0,

    size: "body-large.size",
    line-height: "body-large.line-height",

    x: auto,
    y: "spacing.large",
  ),
  leading-icon: (
    color: "palette.on-surface-variant",
    opacity: 1,
    size: 1.5rem,
  ),
  trailing-icon: (
    color: "palette.on-surface-variant",
    opacity: 1,
    size: 1.5rem,
  ),
  supporting-text: (
    color: "palette.on-surface-variant",
    opacity: 1,
  ),

  padding: (
    all: "spacing.large",
    block-end: "text-field.padding.all",
    block-start: "text-field.padding.all",
    inline-end: "text-field.padding.all",
    inline-start: "text-field.padding.all",
  ),

  small: (
    padding: (
      block-start: "spacing.small",
      block-end: "spacing.small",
    ),
  ),

  populated: (
    label: (
      offset: 0,
      size: "body-small.size",
      line-height: "body-small.line-height",
      translate: -50%,
    ),
  ),
  floating: (
    label: (
      padding-inline: 0px,
    ),

    outline: (
      opacity: 0,
    ),
  ),

  disabled: (
    color: "palette.on-surface",
    color-opacity: "interaction.disabled.container.opacity",

    outline: (
      color: null,
      opacity: null,
      width: null,
    ),

    prefix: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    suffix: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    placeholder: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    label: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    leading-icon: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    trailing-icon: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
    supporting-text: (
      color: "palette.on-surface",
      opacity: 0.38,
    ),
  ),
  hovered: (
    background: null,
    background-opacity: null,
    color: "palette.on-surface",

    outline: (
      color: "palette.on-surface",
      width: 1px,
    ),

    label: (
      color: "palette.on-surface-variant",
    ),

    leading-icon: (
      color: "palette.on-surface-variant",
    ),
    trailing-icon: (
      color: "palette.on-surface-variant",
    ),
    supporting-text: (
      color: "palette.on-surface-variant",
    ),

    error: (
      color: "text-field.error.color",

      outline: (
        color: "palette.on-error-container",
        width: "text-field.error.outline.width",
      ),

      caret: (
        color: "text-field.error.caret.color",
      ),

      label: (
        color: "palette.on-error-container",
      ),

      leading-icon: (
        color: "text-field.error.leading-icon.color",
      ),
      trailing-icon: (
        color: "text-field.error.trailing-icon.color",
      ),
      supporting-text: (
        color: "text-field.error.supporting-text.color",
      ),
    ),
  ),
  focused: (
    color: "palette.on-surface",

    outline: (
      color: null,
      width: null,
      opacity: 0,
    ),

    leading-icon: (
      color: "palette.on-surface-variant",
    ),
    trailing-icon: (
      color: "palette.on-surface-variant",
    ),
    supporting-text: (
      color: "palette.on-surface-variant",
    ),

    error: (
      color: "text-field.error.color",

      outline: (
        color: "text-field.error.outline.color",
      ),

      caret: (
        color: "text-field.error.caret.color",
      ),

      label: (
        color: "text-field.error.label.color",
      ),

      leading-icon: (
        color: "text-field.error.leading-icon.color",
      ),
      trailing-icon: (
        color: "text-field.error.trailing-icon.color",
      ),
      supporting-text: (
        color: "text-field.error.supporting-text.color",
      ),
    ),
  ),
  error: (
    color: "palette.on-surface",

    outline: (
      color: "palette.error",
      width: "text-field.outlined.outline.width",
    ),

    caret: (
      color: "palette.error",
    ),

    label: (
      color: "palette.error",
    ),

    leading-icon: (
      color: "palette.on-surface-variant",
    ),
    trailing-icon: (
      color: "palette.error",
    ),
    supporting-text: (
      color: "palette.error",
    ),
  ),
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  border-end-end-radius: "text-field.shape.end-end",
  border-end-start-radius: "text-field.shape.end-start",
  border-start-end-radius: "text-field.shape.start-end",
  border-start-start-radius: "text-field.shape.start-start",
  cursor: text,
  display: inline-flex,
  flex: 1 1 auto,
  max-width: 100%,
  padding-block-end: "text-field.padding.block-end",
  padding-block-start: "text-field.padding.block-start",
  padding-inline-end: "text-field.padding.inline-end",
  padding-inline-start: "text-field.padding.inline-start",
  position: relative,
  writing-mode: horizontal-tb,
);
$-small-styles: utils.remap-variants(
  text-field,
  small,
  map.get($-tokens, small)
);
$-base-textarea-container-styles: (
  // shift the horizontal padding down to the textarea itself and shift the
  // vertical padding down as margin. the vertical padding has to be margin
  // so the text content isn't clipped
  "text-field.input.margin-block-start": "text-field.padding.block-start",
  "text-field.input.margin-block-end": "text-field.padding.block-end",
  "text-field.input.padding.inline-end": "text-field.padding.inline-end",
  "text-field.input.padding.inline-start": "text-field.padding.inline-start",
  "text-field.label.x": "text-field.padding.inline-start",

  min-height: "text-field.min-height",

  padding: 0,
  // allow the entire container to be resized instead of the textarea since
  // margin is applied to the textarea which would cause the drag handle to be
  // positioned incorrectly
  resize: both
);
$-base-input-styles: (
  background: transparent,
  border: 0,
  caret-color: "text-field.caret.color",
  color: utils.get-rgb-var("text-field.color", "text-field.color-opacity"),
  font: typography.typescale(body-large),
  margin-block-end: "text-field.input.margin.block-end",
  margin-block-start: "text-field.input.margin.block-start",
  margin-inline-end: "text-field.input.margin.inline-end",
  margin-inline-start: "text-field.input.margin.inline-start",
  outline: none,
  padding-block-end: "text-field.input.padding.block-end",
  padding-block-start: "text-field.input.padding.block-start",
  padding-inline-end: "text-field.input.padding.inline-end",
  padding-inline-start: "text-field.input.padding.inline-start",
  resize: none,
  width: 100%,
  z-index: 0,

  "&::placeholder": (
    color: utils.get-rgb-var(
        "text-field.placeholder.color",
        "text-field.placeholder.opacity"
      ),
    // want to gain the same font styles as the input/textarea itself,
    // just apply different colors as needed instead. Can't just do font: inherit
    // since it'll break the styles in firefox.
    font-family: inherit,
    font-size: inherit,
    font-weight: inherit,
    letter-spacing: inherit,
    line-height: inherit,

    overflow: hidden,
    text-overflow: ellipsis,

    // unable to animate placeholder text at this time so ignoring for now.
     // transition: 'color "transition.duration.short-3" "transition.easing.linear"',
  ),
);
$-base-labeled-input-styles: (
  "text-field.placeholder.opacity": 0,

  "&:focus": (
    "text-field.placeholder.opacity": 1,
  ),
);
$-base-label-styles: utils.deep-merge(
  typography.get-font-and-letter-spacing(
    $font-weight: "weight.regular",
    $font-size: "text-field.label.size",
    $line-height: "text-field.label.line-height",
    $font-family: "font.plain",
    $letter-spacing: "body-large.tracking",
  ),
  (
    color: utils.get-rgb-var(
        "text-field.label.color",
        "text-field.label.opacity"
      ),
    left: "text-field.label.x",
    max-width:
      'calc(100% - "text-field.padding.inline-start" - "text-field.padding.inline-end" - "text-field.floating.label.padding-inline")',
    overflow: hidden,
    position: absolute,
    text-overflow: ellipsis,
    top: "text-field.label.y",
    transform:
      'translateY("text-field.label.offset") translateY("text-field.label.translate")',
    transition:
      'all "transition.duration.short-3" "transition.easing.emphasized"',
    white-space: nowrap,
  )
);
$-base-textarea-resize-styles: (
  inset: 0,
  min-height: "text-field.min-height",
  min-width: "text-field.min-width",
  overflow: hidden,
  position: absolute,
  resize: inherit,
);

$-base-supporting-text-styles: utils.deep-merge(
  (
    color: utils.get-rgb-var(
        "text-field.supporting-text.color",
        "text-field.supporting-text.opacity"
      ),
    font: typography.typescale(body-small),
  )
);

$-base-disabled-styles: utils.deep-merge(
  utils.remap-variants(
    text-field,
    disabled,
    "color",
    "color-opacity",
    "label.color",
    "label.opacity",
    "prefix.color",
    "prefix.opacity",
    "suffix.color",
    "suffix.opacity",
    "placeholder.color",
    "placeholder.opacity",
    "outline.color",
    "outline.width",
    "outline.opacity",
    "leading-icon.color",
    "leading-icon.opacity",
    "trailing-icon.color",
    "trailing-icon.opacity",
    "supporting-text.color",
    "supporting-text.opacity"
  ),
  (
    pointer-events: none,
  )
);
$-base-hovered-styles: utils.remap-variants(
  text-field,
  hovered,
  "background",
  "background-opacity",
  "outline.color",
  "outline.width",
  "label.color",
  "leading-icon.color",
  "trailing-icon.color",
  "supporting-text.color"
);
$-base-focused-styles: utils.deep-merge(
  utils.remap-variants(
    text-field,
    focused,
    "label.color",
    "leading-icon.color",
    "trailing-icon.color",
    "supporting-text.color"
  ),
  (
    "text-field.focused.outline.opacity": 1,
  )
);
$-base-floating-styles: utils.deep-merge(
  utils.remap-variants(text-field, populated, map.get($-tokens, populated)),
  (
    "text-field.floating.outline.opacity": 1,
  ),
  tokens.$outlined-floating-styles
);

$-base-error-styles: utils.deep-merge(
  utils.remap-variants(text-field, error, map.get($-tokens, error)),
  (
    "text-field.hovered.label.color": "text-field.hovered.error.label.color",
    "text-field.hovered.outline.color": "text-field.hovered.error.outline.color",
    "text-field.hovered.outline.width": "text-field.hovered.error.outline.width",
    "text-field.focused.outline.color": "text-field.focused.error.outline.color",
    "text-field.focused.color": "text-field.focused.error.color",
    "text-field.focused.label.color": "text-field.focused.error.label.color",
    "text-field.focused.leading-icon.color":
      "text-field.focused.error.leading-icon.color",
    "text-field.focused.trailing-icon.color":
      "text-field.focused.error.trailing-icon.color",
    "text-field.focused.supporting-text.color":
      "text-field.focused.error.supporting-text.color",
  )
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "text-field");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(text-field, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    ":host([type=textarea])": $-base-textarea-container-styles,
    ":host([variant=outlined])": tokens.$outlined-styles,
    ":host([variant=filled])": tokens.$filled-styles,
    ":host([size=small])": $-small-styles,
    ":host([variant=filled][size=small])": tokens.$filled-small-styles,
    ":host([variant=filled][size=small][has-label])":
      tokens.$filled-small-label-styles,
    ":host([error])": $-base-error-styles,
    "host-hover": $-base-hovered-styles,
    ":host([disabled])": $-base-disabled-styles,
    ":host([focus-visible])": $-base-focused-styles,
    ":host(:is([floating], [focus-visible]))": $-base-floating-styles,
    ".input": $-base-input-styles,
    ".input.labeled": $-base-labeled-input-styles,
    ".label": $-base-label-styles,
    ".outline": tokens.$outlined-outline-styles,
    ".resize": $-base-textarea-resize-styles,
    "[class^=notch]": tokens.$outlined-notch-styles,
    "[class^=notch], .no-notches": tokens.$outlined-notch-pseudo-styles,
    ".notch-1": tokens.$outlined-notch-1-styles,
    ".notch-2": tokens.$outlined-notch-2-styles,
    ".notch-3": tokens.$outlined-notch-3-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
