@use "@react-md/core" as *;

$disable-everything: false !default;
$disable-icon: $icon-disable-svg and $icon-disable-font and $icon-disable-symbol !default;
$disable-text: false !default;
$disable-textless: false !default;

$offset: 0.25em !default;
$large-offset: 50% !default;
$border-radius: 0.25em !default;
$inline-size: 1em !default;
$display-size: 2.5em !default;
$outer-width: 0.25em !default;
$border-width: $outer-width + 0.0625em !default;

$light-theme-background-color: $black !default;
$dark-theme-background-color: $white !default;
$background-color: theme-get-default-color(
  $light-theme-background-color,
  $dark-theme-background-color
) !default;

$light-theme-border-color: $white !default;
$dark-theme-border-color: $black !default;
$border-color: theme-get-default-color(
  $light-theme-border-color,
  $dark-theme-border-color
) !default;

@mixin use-light-theme {
  @if not $disable-everything {
    --color-preview-background-color: #{$black};
    --color-preview-border-color: #{$white};
  }
}

@mixin use-dark-theme {
  @if not $disable-everything {
    --color-preview-background-color: #{$white};
    --color-preview-border-color: #{$black};
  }
}

@mixin variables {
  @if not $disable-everything {
    --color-preview-size: #{$display-size};
    --color-preview-large-offset: #{$large-offset};
    --color-preview-border-radius: #{$border-radius};
    --color-preview-inline-size: #{$inline-size};
    --color-preview-offset: #{$offset};
    --color-preview-outer-width: #{$outer-width};
    --color-preview-border-width: #{$border-width};
    --color-preview-inline-offset: #{calc(
        var(--color-preview-inline-size) + var(--color-preview-offset) * 2
      )};
    --color-preview-popup-offset: negate-var(var(--color-preview-size))
      --color-preview-popup-transform: #{calc(
        var(--color-preview-inline-size) - var(--color-preview-large-offset)
      )};
    --color-preview-popup-transform-rtl: #{calc(
        var(--color-preview-large-offset) - var(--color-preview-inline-size)
      )};
  }
}

@mixin color-preview-box-shadow {
  @if not $disable-everything {
    box-shadow:
      inset
        0
        0
        0
        var(--color-preview-outer-width)
        var(--color-preview-background-color),
      inset
        0
        0
        0
        var(--color-preview-border-width)
        var(--color-preview-border-color);
  }
}

@mixin styles($disable-layer: false) {
  @if not $disable-everything {
    @include optional-layer(color-preview, $disable-layer) {
      .color-preview {
        display: inline-block;

        @if not $disable-icon {
          &--icon {
            @include icon-use-var(height, size);
            @include icon-use-var(width, size);

            background: var(--color-preview-color);
            border-radius: var(--color-preview-border-radius);
          }
        }

        @if not $disable-textless {
          &--color-only {
            --color-preview-popup-transform: #{calc(
                -50% - var(--color-preview-offset) / 2
              )};
          }
        }

        @if not $disable-text {
          &--text {
            padding-left: var(--color-preview-inline-offset);
            position: relative;

            &::before,
            &::after {
              background: var(--color);
              border-radius: var(--color-preview-border-radius);
              content: "";
              display: inline-block;
              height: var(--color-preview-inline-size);
              pointer-events: none;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: var(--color-preview-inline-size);
              z-index: 2;
            }

            &::before {
              left: var(--color-preview-offset);
            }

            &::after {
              @include color-preview-box-shadow;

              height: var(--color-preview-size);
              left: var(--color-preview-large-offset);
              opacity: 0;
              pointer-events: none;
              position: absolute;
              top: var(--color-preview-popup-offset);
              transform: translate3d(
                var(--color-preview-popup-transform),
                -100%,
                0
              );
              transition: opacity $linear-duration;
              width: var(--color-preview-size);
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }

        @include rtl {
          --color-preview-popup-transform: var(
            --color-preview-popup-transform-rtl
          );

          &--color-only {
            --color-preview-popup-transform-rtl: #{calc(
                50% + var(--color-preview-offset) / 2
              )};
          }

          &--text {
            padding-left: 0;
            padding-right: var(--color-preview-inline-offset);

            &::before {
              left: auto;
              right: var(--color-preview-offset);
            }

            &::after {
              left: auto;
              right: var(--color-preview-large-offset);
            }
          }
        }
      }
    }
  }
}
