@use "sass:map";

@use "utils";
@use "palette";
@use "shape";
@use "margin";
@use "transition";
@use "typography";

@use "box";

@mixin configure(
  $rtl: null,
  $output: null,
  $var-prefix: null,
  $selector-prefix: null,
  $palette: null,
  $shape: null,
  $margin: null,
  $transition: null,
  $typography: null,
  $box: null
) {
  @include utils.configure-setup(
    $rtl: $rtl,
    $output: $output,
    $var-prefix: $var-prefix,
    $selector-prefix: $selector-prefix
  );

  @include palette.configure-global($palette);
  @include shape.configure-global($shape);
  @include margin.configure($margin);
  @include transition.configure-global($transition);
  @include typography.configure-global($typography);
  @include box.configure-global($box);
}
