@use "sass:map";
@use "sass:list";
@use "sass:meta";

@use "../../utils";

$selection-variants: (
  "background",
  "color",
  "icon.color",
  "interaction.color",
  "hovered.color",
  "hovered.icon.color",
  "hovered.interaction.color",
  "focused.icon.color",
  "focused.interaction.color",
  "pressed.icon.color",
  "pressed.interaction.color"
);
$-color-variants: utils.list-concat(
  (
    color,
    "icon.color",
    "disabled.background",
    "disabled.background-opacity",
    "disabled.color",
    "disabled.color-opacity",
    "hovered.interaction.color",
    "hovered.interaction.opacity",
    "hovered.color",
    "focused.interaction.color",
    "focused.interaction.opacity",
    "pressed.interaction.color",
    "pressed.interaction.opacity"
  ),
  utils.list-prefix-values($selection-variants, "unselected."),
  utils.list-prefix-values($selection-variants, "selected.")
);
$-color-variants-without-backgrounds: utils.list-filter(
  $-color-variants,
  background,
  "disabled.background",
  "unselected.background"
);

$text-tokens: (
  color: "palette.primary",
  icon: (
    color: currentcolor,
  ),
  disabled: (
    background: "palette.on-surface",
    background-opacity: 0.1,
    color: "palette.on-surface",
    color-opacity: 0.38,
  ),
  hovered: (
    interaction: (
      color: "palette.primary",
      opacity: 0.08,
    ),
  ),
  focused: (
    interaction: (
      color: "palette.primary",
      opacity: 0.1,
    ),
  ),
  pressed: (
    interaction: (
      color: "palette.primary",
      opacity: 0.1,
    ),
  ),
);
$text-styles: utils.deep-merge(
  utils.remap-variants(
    button,
    text,
    utils.list-filter($-color-variants, $selection-variants...)
  )
);

$outlined-tokens: (
  color: "palette.on-surface-variant",
  outline: (
    color: "palette.outline-variant",
    width: 1px,
  ),
  interaction: (
    color: "palette.on-surface-variant",
    opacity: 0.08,
  ),
  icon: (
    color: currentcolor,
  ),
  disabled: (
    background-opacity: 0.1,
    color: "palette.on-surface",
    color-opacity: 0.38,
    outline: (
      color: "palette.outline-variant",
    ),
  ),
  hovered: (
    color: "palette.on-surface-variant",
    color-opacity: 1,
    outline: (
      color: "palette.outline-variant",
    ),
    interaction: (
      color: "palette.on-surface-variant",
      opacity: 0.08,
    ),
  ),
  focused: (
    color: "palette.on-surface-variant",
    color-opacity: 1,
    outline: (
      color: "palette.outline-variant",
    ),
    interaction: (
      color: "palette.on-surface-variant",
      opacity: 0.1,
    ),
  ),
  pressed: (
    color: "palette.on-surface-variant",
    color-opacity: 1,
    outline: (
      color: "palette.outline-variant",
    ),
  ),

  unselected: (
    color: "palette.on-surface-variant",

    icon: (
      color: "palette.on-surface-variant",
    ),

    hovered: (
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
    focused: (
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
    pressed: (
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
  ),
  selected: (
    background: "palette.inverse-surface",
    color: "palette.inverse-on-surface",

    icon: (
      color: "palette.inverse-on-surface",
    ),

    disabled: (
      background: "palette.on-surface",
      color: "palette.on-surface",
    ),

    hovered: (
      color: "palette.inverse-on-surface",

      icon: (
        color: "palette.inverse-on-surface",
      ),

      interaction: (
        color: "palette.inverse-on-surface",
      ),
    ),
    focused: (
      color: "palette.inverse-on-surface",

      icon: (
        color: "palette.inverse-on-surface",
      ),

      interaction: (
        color: "palette.inverse-on-surface",
      ),
    ),
    pressed: (
      color: "palette.inverse-on-surface",

      icon: (
        color: "palette.inverse-on-surface",
      ),

      interaction: (
        color: "palette.inverse-on-surface",
      ),
    ),
  ),
);
$outlined-styles: utils.deep-merge(
  utils.remap-variants(button, outlined, $-color-variants-without-backgrounds),
  (
    "&::after": map.merge(
        utils.pseudo-element(),
        (
          border-color: "button.outlined.outline.color",
          border-style: solid,
          border-width: "button.outlined.outline.width",
          box-sizing: border-box,
        )
      ),
  )
);
$outlined-disabled-styles: utils.remap-variants(
  button,
  outlined,
  "outline.color"
);

$tonal-tokens: (
  background: "palette.secondary-container",
  color: "palette.on-secondary-container",
  disabled: (
    background: "palette.on-surface",
    background-opacity: 0.1,
    color: "palette.on-surface",
    color-opacity: 0.38,
  ),
  hovered: (
    color: "palette.on-secondary-container",
  ),
  focused: (
    color: "palette.on-secondary-container",
  ),
  pressed: (
    color: "palette.on-secondary-container",
  ),

  unselected: (
    background: "palette.secondary-container",
    color: "palette.on-secondary-container",

    icon: (
      color: "palette.on-secondary-container",
    ),

    hovered: (
      color: "palette.on-secondary-container",

      icon: (
        color: "palette.on-secondary-container",
      ),

      interaction: (
        color: "palette.on-secondary-container",
      ),
    ),
    focused: (
      color: "palette.on-secondary-container",

      icon: (
        color: "palette.on-secondary-container",
      ),

      interaction: (
        color: "palette.on-secondary-container",
      ),
    ),
    pressed: (
      color: "palette.on-secondary-container",

      icon: (
        color: "palette.on-secondary-container",
      ),

      interaction: (
        color: "palette.on-secondary-container",
      ),
    ),
  ),
  selected: (
    background: "palette.secondary",
    color: "palette.on-secondary",

    icon: (
      color: "palette.on-secondary",
    ),

    hovered: (
      color: "palette.on-secondary",

      icon: (
        color: "palette.on-secondary",
      ),

      interaction: (
        color: "palette.on-secondary",
      ),
    ),
    focused: (
      color: "palette.on-secondary",

      icon: (
        color: "palette.on-secondary",
      ),

      interaction: (
        color: "palette.on-secondary",
      ),
    ),
    pressed: (
      color: "palette.on-secondary",

      icon: (
        color: "palette.on-secondary",
      ),

      interaction: (
        color: "palette.on-secondary",
      ),
    ),
  ),
);
$tonal-styles: utils.remap-variants(
  button,
  tonal,
  background,
  shadow,
  elevation,
  color,
  "icon.color"
);
$tonal-disabled-styles: utils.remap-variants(
  button,
  disabled,
  map.keys(map.get($tonal-tokens, disabled))...
);

$filled-tokens: (
  background: "palette.primary",
  color: "palette.on-primary",

  unselected: (
    background: "palette.surface-container",
    color: "palette.on-surface-variant",

    icon: (
      color: "palette.on-surface-variant",
    ),

    hovered: (
      background: "palette.surface-container",
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
    focused: (
      background: "palette.on-surface-variant",
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
    pressed: (
      background: "palette.on-surface-variant",
      color: "palette.on-surface-variant",

      icon: (
        color: "palette.on-surface-variant",
      ),

      interaction: (
        color: "palette.on-surface-variant",
      ),
    ),
  ),
  selected: (
    background: "palette.primary",
    color: "palette.on-primary",

    icon: (
      color: "palette.on-primary",
    ),

    hovered: (
      background: "palette.primary",
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
    focused: (
      background: "palette.on-primary",
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
    pressed: (
      background: "palette.on-primary",
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
  ),
);
$filled-styles: utils.remap-variants(button, filled, $filled-tokens);

$elevated-tokens: (
  background: "palette.surface-container-low",
  color: "palette.primary",
  elevation: 1,
  icon: (
    color: currentcolor,
  ),
  disabled: (
    background: "palette.on-surface",
    background-opacity: 0.1,
    color: "palette.on-surface",
    color-opacity: 0.38,
  ),
  hovered: (
    interaction: (
      color: "palette.primary",
      opacity: 0.08,
    ),
  ),
  focused: (
    elevation: 1,
    interaction: (
      color: "palette.primary",
      opacity: 0.1,
    ),
  ),
  pressed: (
    elevation: 1,
    interaction: (
      color: "palette.primary",
      opacity: 0.1,
    ),
  ),

  unselected: (
    background: "palette.surface-container-low",
    color: "palette.primary",

    icon: (
      color: "palette.primary",
    ),

    hovered: (
      color: "palette.primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.primary",
      ),
    ),
    focused: (
      color: "palette.primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.primary",
      ),
    ),
  ),
  selected: (
    background: "palette.primary",
    color: "palette.on-primary",

    icon: (
      color: "palette.on-primary",
    ),

    hovered: (
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
    focused: (
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
    pressed: (
      color: "palette.on-primary",

      icon: (
        color: "palette.on-primary",
      ),

      interaction: (
        color: "palette.on-primary",
      ),
    ),
  ),
);
$elevated-styles: utils.remap-variants(
  button,
  elevated,
  elevation,
  background,
  $-color-variants...
);

$variant-tokens: (
  text: $text-tokens,
  outlined: $outlined-tokens,
  tonal: $tonal-tokens,
  filled: $filled-tokens,
  elevated: $elevated-tokens,
);
$variants: map.keys($variant-tokens);
