@use "sass:list";
@use "sass:map";
@use "sass:string";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  background: "palette.inverse-surface",
  color: "palette.inverse-on-surface",
  border-radius: null,

  // the area tokens are for configuring the position
  area-x: "center",
  area-y: "center",

  z-index: 50,

  spacing: 0%,
  spacing-x: "popover.spacing",
  spacing-y: "popover.spacing",

  fallbacks: null,

  opacity: 0,
  open: (
    opacity: 1,
    transform: "scale(1)",
  ),
  closed: (
    opacity: 0,
    transform: "scale(1)",
  ),
  // using a small value so that the base transform applies
  transform: "scale(1)",
  transition-property: "opacity, transform",
  transition-duration: "transition.duration.short-4",
);

$-configure-tokens: (
  host-styles,
  target-styles,
  popover-styles,
  left-styles,
  inner-left-styles,
  center-x-styles,
  inner-right-styles,
  right-styles,
  above-styles,
  top-styles,
  center-y-styles,
  bottom-styles,
  below-styles
);

$-popover-styles: (
  background: transparent,
  border: 0,
  box-sizing: border-box,
  inset: auto,
  margin: 0,
  opacity: "popover.opacity",
  padding-block: "popover.spacing-y",
  padding-inline: "popover.spacing-x",
  position-anchor: --popover-target,
  position-area: '"popover.area-y" "popover.area-x"',
  position-try-fallbacks: "popover.fallbacks",
  transform: "popover.transform",
  transition-behavior: allow-discrete,
  transition-duration: "popover.transition-duration",
  transition-property: 'display, overlay, "popover.transition-property"',
  transition-timing-function: "transition.easing.emphasized-accelerate",
  z-index: "popover.z-index",

  "&:popover-open": (
    "popover.opacity": "popover.open.opacity",
    "popover.transform": "popover.open.transform",

    "@starting-style": (
      "popover.opacity": "popover.closed.opacity",
      "popover.transform": "popover.closed.transform",
    ),
  ),
);
// this was added so that wrapping elements in a `<mwc-popover>` do not mess
// up their alignment
$-host-styles: (
  display: inline-flex,
);
$-target-styles: (
  anchor-name: --popover-target,
);
$-popover-content-styles: (
  background: "popover.background",
  border: 0,
  border-radius: "popover.border-radius",
  box-sizing: border-box,
  color: "popover.color",
  display: flex,
);
$-horizontal-anchor-styles: (
  left: (
    "popover.area-x": start,
  ),
  inner-left: (
    "popover.area-x": span-end,
  ),
  center: (
    "popover.area-x": center,
  ),
  inner-right: (
    "popover.area-x": span-start,
  ),
  right: (
    "popover.area-x": end,
  ),
);
$-vertical-anchor-styles: (
  above: (
    "popover.area-y": start,
  ),
  top: (
    "popover.area-y": span-start,
  ),
  center-y: (
    "popover.area-y": center,
  ),
  bottom: (
    "popover.area-y": span-end,
  ),
  below: (
    "popover.area-y": end,
  ),
);

@mixin -configure-horizontal-anchor($anchor, $styles) {
  @if $styles != null {
    $-horizontal-anchor-styles: utils.deep-merge(
      $-horizontal-anchor-styles,
      (
        $name: $styles,
      )
    ) !global;
  }
}

@mixin -configure-vertical-anchor($anchor, $styles) {
  @if $styles != null {
    $-vertical-anchor-styles: utils.deep-merge(
      $-vertical-anchor-styles,
      (
        $name: $styles,
      )
    ) !global;
  }
}

@mixin configure(
  $host-styles: null,
  $target-styles: null,
  $popover-styles: null,
  $left-styles: null,
  $inner-left-styles: null,
  $center-x-styles: null,
  $inner-right-styles: null,
  $right-styles: null,
  $above-styles: null,
  $top-styles: null,
  $center-y-styles: null,
  $bottom-styles: null,
  $below-styles: null
) {
  @if $host-styles != null {
    $-host-styles: $host-styles !global;
  }

  @if $target-styles != null {
    $-target-styles: map.merge($-target-styles, $target-styles) !global;
  }

  @if $popover-styles != null {
    $-popover-styles: map.merge($-popover-styles, $popover-styles) !global;
  }

  @include -configure-horizontal-anchor(left, $left-styles);
  @include -configure-horizontal-anchor(inner-left, $inner-left-styles);
  @include -configure-horizontal-anchor(center-x, $center-x-styles);
  @include -configure-horizontal-anchor(inner-right, $inner-right-styles);
  @include -configure-horizontal-anchor(right, $right-styles);

  @include -configure-vertical-anchor(above, $above-styles);
  @include -configure-vertical-anchor(top, $top-styles);
  @include -configure-vertical-anchor(center-y, $center-y-styles);
  @include -configure-vertical-anchor(bottom, $bottom-styles);
  @include -configure-vertical-anchor(below, $below-styles);

  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "popover");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(popover, $overrides, $-configure-tokens);
  @include configure(
    $target-styles: map.get($overrides, target-styles),
    $popover-styles: map.get($overrides, popover-styles),
    $left-styles: map.get($overrides, left-styles),
    $inner-left-styles: map.get($overrides, inner-left-styles),
    $center-x-styles: map.get($overrides, center-x-styles),
    $inner-right-styles: map.get($overrides, inner-right-styles),
    $right-styles: map.get($overrides, right-styles),
    $above-styles: map.get($overrides, above-styles),
    $top-styles: map.get($overrides, top-styles),
    $center-y-styles: map.get($overrides, center-y-styles),
    $bottom-styles: map.get($overrides, bottom-styles),
    $below-styles: map.get($overrides, below-styles)
  );
}

@mixin css-styles {
  $styles: (
    "&popover": $-popover-styles,
    "&popover-target": $-target-styles,
  );
  @each $anchor, $anchor-styles in $-horizontal-anchor-styles {
    $name: if(sass($anchor == "center"): then center-x; else: $anchor);
    $styles: map.set($styles, "&popover--#{$name}", $anchor-styles);
  }
  @each $anchor, $anchor-styles in $-vertical-anchor-styles {
    $name: if(sass($anchor == "center"): then center-y; else: $anchor);
    $styles: map.set($styles, "&popover--#{$name}", $anchor-styles);
  }

  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-host-styles,
    "::slotted([slot=target])": $-target-styles,
    "#popover": $-popover-styles,
    "#content": $-popover-content-styles,
  );
  @each $anchor, $anchor-styles in $-horizontal-anchor-styles {
    $styles: map.set(
      $styles,
      ":host([anchor-x=#{$anchor}]) #popover",
      $anchor-styles
    );
  }
  @each $anchor, $anchor-styles in $-vertical-anchor-styles {
    $styles: map.set(
      $styles,
      ":host([anchor-y=#{$anchor}]) #popover",
      $anchor-styles
    );
  }

  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
