---
layout: base
permalink: /index.html
---

<main>
  <mwc-text-container>
  <mwc-typography variant="display">
  <h1>Hello,</h1>
  </mwc-typography>
  <mwc-typography variant="headline">
  <p>
    This page is empty since I haven't really made this site yet. You
    can check out my <mwc-link href="https://github.com/mlaursen">GitHub</mwc-link>
    for some more information about projects I work on.
  </p>
  </mwc-typography>
  </mwc-text-container>
</main>
