@use "sass:map";

@use "../utils";
@use "../typography";

$-tokens-registered: false;
$-tokens: (
  background: "palette.inverse-surface",
  border-radius: "shape.corner.extra-small",
  color: "palette.inverse-on-surface",
  padding: "spacing.small",
  max-width: "15rem",
  min-width: min-content,
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  "popover.background": "tooltip.background",
  "popover.color": "tooltip.color",
  "popover.spacing": "spacing.extra-small",
  "popover.fallbacks": "block-start, block-end, inline-start, inline-end",
  "popover.border-radius": "tooltip.border-radius",
);
$-tooltip-styles: (
  font: typography.typescale(body-small),
  padding: "tooltip.padding",
  text-wrap: nowrap,
  width: minmax("tooltip.min-width", "tooltip.max-width"),
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "tooltip");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(tooltip, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&tooltip": utils.deep-merge($-base-styles, $-tooltip-styles),
  );
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
    "#content": $-tooltip-styles,
  );
  @include utils.map-to-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
