@use "sass:map";

@use "../utils";

// $-tokens-registered: false;
// $-tokens: ();
//
// $-configure-tokens: map.keys($-tokens);
$-configure-tokens: ();

$-base-link-styles: (
  border-radius: inherit,
  color: inherit,
  text-decoration: none,
);

@mixin configure() {
  // @if not $-tokens-registered {
  //   $-tokens-registered: true !global;
  //   @include utils.register-tokens($tokens: $-tokens, $prefix: "link-card");
  // }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(link-card, $overrides, $-configure-tokens);
  @include configure();
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    "a": $-base-link-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
