{% if not fonts.google and not data.fonts.google and not meta.fonts.google %}
  <link rel="preload"
        href="/assets/fonts/Roboto-VariableFont_wdth,wght.ttf"
        as="font"
        type="font/ttf"
        crossorigin />
  <link rel="preload"
        href="/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf"
        as="font"
        type="font/ttf"
        crossorigin />
{% endif %}
<!-- preloads in page data -->
{%- if preloads -%}
  <!-- prettier-ignore -->
  <link rel="preload"
        href="{{ preloads.href }}"
        as="{{ preloads.as }}"
        {% if preloads.type %}type={{ preloads.type }}{% endif %}
        {% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
        {% if preloads.crossorigin %}crossorigin{% endif %} />
{% endif %}
