@use "sass:map";
@use "sass:list";

///
/// @param {List} $maps -
/// @return {Map} -
@function deep-merge($maps...) {
  $result: ();
  @each $map in $maps {
    $result: map.deep-merge($result, $map);
  }

  @return $result;
}

///
/// @param {Map} $map -
/// @param {List} $keys -
/// @return {Map} -
@function pick-keys($map, $keys) {
  $result: ();
  @each $key, $value in $map {
    @if list.index($keys, $key) {
      $result: map.set($result, $key, map.get($map, $key));
    }
  }

  @return $result;
}
