@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "validate" as *;
@use "string" as *;

/// The default behavior is to generate styles for the internal web
/// components but setting this to `css` will generate styles with class
/// names instead.
/// @type {css | host}
$-output: host;

/// @type {Boolean}
$-short-var-names: true;

@mixin configure-setup($output: null, $short-var-names: null) {
  @if $output != null {
    $-output: validate((css, host), $output, "$output") !global;
  }

  @if $short-var-names != null {
    $-short-var-names: assert-boolean(
      $short-var-names,
      "short-var-names"
    ) !global;
  }
}

@function is-css-output() {
  @return $-output == css;
}

@function is-host-output() {
  @return $-output == host;
}

@function is-short-var-names() {
  @return $-short-var-names;
}
