@use "sass:map";
@use "sass:list";
@use "sass:meta";

@use "../../utils";

$filled-tokens: (
  background: "palette.surface-container-highest",
  background-opacity: 1,
  color: "palette.on-surface-variant",

  shape: (
    end-start: "shape.corner.none",
    end-end: "shape.corner.none",
  ),

  outline: (
    inset: 'calc(100% - "text-field.outline.width") 0 0',
    color: "palette.on-surface-variant",
    width: 1px,
  ),

  padding: (
    block-start: "spacing.extra-large",
    block-end: "spacing.small",
  ),

  small: (
    label: (
      y: "spacing.medium",
    ),
    padding: (
      block-start: 1.25rem,
      block-end: "spacing.extra-small",
    ),
  ),

  hovered: (
    background: "interaction.hovered.container.color",
    background-opacity: "interaction.hovered.container.opacity",
  ),

  disabled: (
    background: "palette.on-surface",
    background-opacity: 0.04,

    outline: (
      color: "palette.on-surface-variant",
      opacity: 0.38,
      width: 1px,
    ),
  ),

  focused: (
    color: "palette.on-surface",

    label: (
      color: "palette.primary",
    ),

    outline: (
      color: "palette.primary",
      width: 3px,
    ),
  ),
);

$filled-styles: utils.deep-merge(
  utils.remap-variants(text-field, filled, $filled-tokens),
  (
    "&::before, &::after": utils.pseudo-element($inset: null),
    "&::before": (
      // the background color and underline
      background:
        utils.get-rgb-var(
          "text-field.background",
          "text-field.background-opacity"
        ),
      border-bottom:
        '"text-field.outline.width" solid #{utils.get-rgb-var("text-field.outline.color", "text-field.outline.opacity")}',
      inset: 0,
      transition:
        'background "transition.duration.short-3" "transition.easing.linear"'
    ),

    "&::after": (
      // the active-indicator border
      background:
        utils.get-rgb-var(
          "text-field.focused.outline.color",
          "text-field.focused.outline.opacity"
        ),
      border-radius: 0,
      height: "text-field.focused.outline.width",
      inset: auto 0 0,
      opacity: "text-field.focused.outline.opacity",
      transition:
        'opacity "transition.duration.short-3" "transition.easing.linear"'
    ),
  )
);
$filled-small-label-styles: (
  "text-field.label.y": "text-field.filled.small.label.y",
  "text-field.padding.block-start":
    "text-field.filled.small.padding.block-start",
  "text-field.padding.block-end": "text-field.filled.small.padding.block-end",
);
$filled-small-styles: (
  "text-field.padding.block-start": "spacing.small",
  "text-field.padding.block-end": "spacing.small",
);
