<mwc-box bg="primary" class="main-header">
<mwc-button>navigation</mwc-button>
<mwc-typography>@mlaursen/wc</mwc-typography>
</mwc-box>
<main id="main" class="{{ mainClassName }}">
  {{ content | safe }}
</main>
