<mwc-app-bar class="main-header" scroll-behavior="sticky">
  <mwc-icon-button variant="text" aria-label="Navigation" slot="nav">
    <mwc-material-symbol>
      menu
    </mwc-material-symbol>
  </mwc-icon-button>
  <span slot="title">{{ headerTitle or packageName }}</span>
  <div slot="actions">
    <mwc-tooltip>
      <span slot="tooltip">Show Configuration</span>
      <mwc-icon-button slot="target">
        <mwc-material-symbol>
          more_vert
        </mwc-material-symbol>
      </mwc-icon-button>
    </mwc-tooltip>
    <mwc-tooltip>
      <span slot="tooltip">Source Code</span>
      <mwc-icon-button slot="target" aria-label="Source Code" href="{{ meta.sourceBase + sourcePath }}">
        {% include "partials/github-icon.njk" %}
      </mwc-icon-button>
    </mwc-tooltip>
  </div>
</mwc-app-bar>
<main id="main" class="{{ mainClassName }}">
  {{ content | safe }}
</main>
