@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  content: (
    padding-h: "dialog.padding-h",
    padding-v: "dialog.padding-v",
  ),
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  box-sizing: border-box,
  display: block,
  padding-block: "dialog.content.padding-v",
  padding-inline: "dialog.content.padding-h",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "dialog");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(
    dialog-content,
    $overrides,
    $-configure-tokens
  );
  @include configure();
}

@mixin css-styles {
  $styles: (
    "&dialog-content": $-base-styles,
  );
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
