@use "sass:map";

@use "../utils";

$-tokens-registered: false;
$-tokens: (
  actions: (
    gap: "spacing.small",

    padding: (
      block-start: "dialog.padding.block-start",
      block-end: "dialog.padding.block-end",
      inline-start: "dialog.padding.inline-start",
      inline-end: "dialog.padding.inline-end",
    ),
  ),
);

$-configure-tokens: map.keys($-tokens);

$-base-styles: (
  "box.gap": "dialog.actions.gap",
  "box.padding.block-end": "dialog.actions.padding.block-end",
  "box.padding.block-start": "dialog.actions.padding.block-start",
  "box.padding.inline-end": "dialog.actions.padding.inline-end",
  "box.padding.inline-start": "dialog.actions.padding.inline-start",
);

@mixin configure() {
  @if not $-tokens-registered {
    $-tokens-registered: true !global;
    @include utils.register-tokens($tokens: $-tokens, $prefix: "dialog");
  }
}

@mixin configure-global($overrides: null) {
  $overrides: utils.get-config-map(
    dialog-actions,
    $overrides,
    $-configure-tokens
  );
  @include configure();
}

@mixin css-styles {
  $styles: ();
  @include utils.css-styles($styles);
}

@mixin host-styles {
  $styles: (
    ":host": $-base-styles,
  );
  @include utils.host-styles($styles);
}

@mixin styles {
  @include css-styles;
  @include host-styles;
}
