@use "./index" as *;
@use "../utils";

$styles: (
  ":host": (
    background: "palette.background",
    color-scheme: "palette.color-scheme",
    color: "palette.on-background",
    display: contents,
  ),
);

@include utils.map-to-styles($styles);
