node_modules
.DS_STORE
.env.local

_site

# generated
src/_includes/css
src/_includes/scripts

# cache
.cache

# secret data
.env

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
