@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "validate" as *;
@use "string" as *;

/// Set to false to disable all automatic rtl styles
/// @type {Boolean}
$-rtl: true;

/// The default behavior is to generate styles for the internal web
/// components but setting this to `css` will generate styles with class
/// names instead.
/// @type {css | host}
$-output: host;

/// The var prefix to use with @mlaursen/ui
/// @type {String}
$-var-prefix: "--ui-";

/// The selector name prefix to use with @mlaursen/ui
/// @type {String}
$-selector-prefix: ".ui-";

/// The keyframes name prefix to use with @mlaursen/ui
/// @type {String}
$-keyframes-prefix: "ui-";

@mixin configure-setup(
  $rtl: null,
  $output: null,
  $var-prefix: null,
  $selector-prefix: null,
  $keyframes-prefix: null
) {
  @if $rtl != null {
    @if meta.type-of($rtl) != boolean {
      @error "$rtl must be a boolean";
    }

    $-rtl: $rtl !global;
  }

  @if $output != null {
    $-output: validate((css, host), $output, "$output") !global;
  }

  @if $var-prefix != null {
    $-var-prefix: assert-string($var-prefix, "var-prefix") !global;
  }

  @if $selector-prefix != null {
    $-selector-prefix: assert-string(
      $selector-prefix,
      "selector-prefix"
    ) !global;
  }

  @if $keyframes-prefix != null {
    $-keyframes-prefix: assert-string(
      $keyframes-prefix,
      "keyframes-prefix"
    ) !global;
  }
}

/// Used to apply styles when using rtl behavior
///
/// Note: This will need to be included at the end of a block with the new Sass
/// rules or prefix styles with `& {}`
///
/// @example scss
///   .selector {
///     margin-right: 1rem;
///
///     // swap the margin in RTL
///     @include rtl {
///       margin-left: 1rem;
///       margin-right: auto;
///     }
///   }
@mixin rtl {
  @if $-rtl {
    [dir="rtl"] & {
      @content;
    }
  }
}

///
/// @param {rtl | css | host | var-prefix | selector-prefix | keyframes-prefix} $name -
/// @return {String | Boolean} -
@function get-setup-config($name) {
  $config: (
    rtl: $-rtl,
    css: $-output == css,
    host: $-output == host,
    var-prefix: $-var-prefix,
    selector-prefix: $-selector-prefix,
    keyframes-prefix: $-keyframes-prefix,
  );

  @return map.get(
    $config,
    validate(map.keys($config), $name, "setup config name")
  );
}

/// Used to get the current CSS variable name from react-md tokens.
///
/// @param {String} $name - token name. i.e `"font.brand"`
/// @returns {String} the var name. i.e. `"--ui-font-brand"`
@function get-var-name($name) {
  @if not list.index($-tokens, $name) {
    $-tokens: list.append($-tokens, $name) !global;
    $-force-added: list.append($-force-added, $name) !global;
  }

  $hyphenated-name: str-replace($name, ".", "-");

  // I do not want to display the palette prefix
  @if string.index($hyphenated-name, "palette-") == 1 {
    $hyphenated-name: string.slice($hyphenated-name, 9);
  } @else if string.index($hyphenated-name, "transition-") == 1 {
    $hyphenated-name: string.slice($hyphenated-name, 12);
  }
  @return #{$-var-prefix + $hyphenated-name};
}
